// 01. Accordion
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-accordion-classes: $include-html-classes;

$accordion-navigation-padding: rem-calc(10);
$accordion-navigation-bg-color: $grey-bg--section;
// $accordion-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -5%);
$accordion-navigation-active-bg-color: $white;
$accordion-navigation-font-color: $black--natural;
$accordion-navigation-font-size: rem-calc(12);
// $accordion-navigation-font-family: $body-font-family;

$accordion-content-padding: 0;
// $accordion-content-active-bg-color: $white;
