// =============================================================================
// Colors
// =============================================================================

// By name
$red-pure:        #ff0000;
$white:           #ffffff;
$black:           #161616;
$blue:            #178bad;
$blue-light:      #84C0D2;
$blue-lighter:    #d2eaf1;
$green:           #00a271;

$grey-1:          #25292c; // Darkest
$grey-2:          #3c4043; // Darker
$grey-3:          #51565a; // Dark
$grey-4:          #6c7379;
$grey-5:          #dcdcdc; // Light
$grey-6:          #e8e8e8; // Lighter
$grey-7:          #f2f3f3; // Lightest

// Zebra stripes
$zebra-odd:        #c7e1e8;
$zebra-even:       lighten($zebra-odd, 10%);

// Drupal messages (drupal_set_message())
$notice:            #5cd6f2; // Blue
$status:            #93ffde; // Green
$warning:           #f5fcbe; // Yellow
$error:             #efcccc; // Red
