// =============================================================================
// Colors
// =============================================================================

$black: #000;
$white: #fff;

$black--natural: #222; // Text and icons

$blue: #088eb4;
$blue--hover: #1ca3ca;

$red: #da5050;
$red--hover: #e37a7a;

$yellow: #f9b000;

$grey-border: #dfe0e3;
$grey-icon: #bbb;
$grey-text--dark: #777;
$grey-text--light: #ccc;

$grey-bg--page: #e7e8ea; // Light
$grey-bg--section: #f6f7f8; // Lightest
$grey-bg--tabs: #4d5052; // Dark
$grey-bg--background: #262a2c; // Darkest

// Drupal messages (drupal_set_message())
$notice:            #5cd6f2; // Blue
$status:            #93ffde; // Green
$warning:           #f5fcbe; // Yellow
$error:             #efcccc; // Red
