@charset "UTF-8";

// =============================================================================
// Misc settings
// =============================================================================

$sprites-layout: horizontal; // Set the layout of the sprite file
$text-shadow: 0 -1px rgba(0,0,0,.3);
$break-max: 960px;
$grid-margin-left: 10px;
