// =============================================================================
// TYPOGRAPHY
// -----------------------------------------------------------------------------
//
// All text alterations should be done using the typography (typo) mixin
//
// @include typo(); takes 3 optional arguments: $type, $style, $color
//
// Examples:
// .selector { @include typo( "title", "section", "black" ); }
// .selector { @include type( $color: "grey" ); }
//
// =============================================================================

@mixin typo($type: "", $style: "", $color: "") {

  // Titles
  @if ($type == "title") {
    font-weight: bold;
    line-height: 1.2;

    @switch $style {
      @when "normal" {
        font-size: (14/16) * 1rem;
      }
      @when "small" {
        font-size: (12/16) * 1rem;
      }
      @when "large" {
        font-size: (18/16) * 1rem;
      }
      @when "section" {
        font-size: (24/16) * 1rem;
        font-family: 'Dosis', Arial, sans-serif;
        text-transform: uppercase;
      }
    }
  }

  // Body texts
  @if ($type == "body") {

    @switch $style {
      @when "large" {
        font-size: (14/16) * 1rem;
      }
    }
  }

  // Labels and oneliners
  @if ($type == "label") {

    @switch $style {
      @when "bold" {
        font-weight: bold;
      }
      @when "uppercase" {
        font-weight: bold;
        text-transform: uppercase;
      }
      @when "uppercase-small" {
        font-size: (10/16) * 1rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  // Text colors
  @switch $color {
    @when "black" {
      color: $black--natural;
    }
    @when "white" {
      color: $white;
    }
    @when "grey-dark" {
      color: $grey-text--dark;
    }
    @when "grey-light" {
      color: $grey-text--light;
    }
    @when "blue" {
      color: $blue;
      &:hover {
        color: $blue--hover;
      }
    }
    @when "red" {
      color: $red;
    }
  }
}