//
// Import: Constants
//


.horizontal-nav {
	li {
		float:left;
		display:block;
	}
	a {
		float:left;
		display:block;
	}
}


// An easy way to add padding to elements!
.padded {
	@include rem('padding', 20px);
}







