//
// Import: Constants
//


// Settings box heights
.widget-height-1 {
	height:100px;
}
.widget-height-2 {
	height:210px;
}
.widget-height-3 {
	height:320px;
}


.horizontal-nav a {
	float:left;
	display:block;
}




.btn-add-basket {
	text-align:right;
	font-size:0.91666em; // 11px
	display:block;
}