//
// Import: Elements
//



//
// Element: Tabs
//
.tabs {
	border:solid 1px $light_grey3;
	
	.tabs-nav {
		border-bottom:solid 1px $light_grey3;
		
		a {
			float:left;
			display:block;
			border-right:solid 1px $light_grey3;		
			background-color:$light_grey1;
			color:$dark_grey4;

			&:hover {
			}

			&.active {
				background-color:#fff;
				border-bottom:solid 1px #fff;
				margin-bottom:-1px;
				font-weight:bold;
			}	
		}
	}

	.tabs-content {
		padding:20px;
	}
}

.tabs-light {
	margin-bottom:10px;
	font-size:0.91666em; // 11px

	.tabs-nav {

		a {
			padding:10px 20px;
		}
	}
}

.tabs-heavy {

	.tabs-nav {

		a {
			padding:12px 20px;
		}
	}
}



//
// Element: Zebra striped content
//
.zebra-toggle {
	background:$zebraOdd;
	padding:10px 20px;

	a {
		color:darken($btn_blue, 5%);
	}	
}
.zebra {
	padding:20px 20px 20px 10px;
	border-left:solid 10px $zebraOdd;
	border-bottom:solid 1px $light_grey3;
	background-color:$light_grey1;
	
	&:nth-child(even) {
		border-left:solid 10px $zebraEven;
		background-color:#fff;
	}
	
	&:last-child {
		border-bottom:none;
	}
}



//
// Element: Actions
//
.actions {
	float:right;
	padding-left:15px;
	border-left:dotted 1px $light_grey3;
}
.primary-actions {
}
.secondary-actions {
	margin-top:30px;
}



