//
// Import: Marked links  
//



.icon-link {
	background:transparent no-repeat 0% 50%;
	padding-left:24px;
	display:block; // IE
	display:inline-block;
	line-height:19px;
}
.icon-link-small {
	font-size:11px; // 11px;
	padding-left:20px;
}
.icon-link-darkgreytext {
	color:$dark_grey5;
}
.icon-link-lightgreytext {
	color:$light_grey5;
}
.icon-link-whitetext {
	color:$white;
}



//
// Large blue icons (Default)
//

// Large blue right/left icon
.icon-link.icon-link-right {
	background-image:url(../img/icon-links/large/blue-right-large.png);

	&.opposite {
		background-image:url(../img/icon-links/large/blue-left-large.png);
	}
}

// Large blue down/up icon
.icon-link.icon-link-down {
	background-image:url(../img/icon-links/large/blue-down-large.png);

	&.opposite {
		background-image:url(../img/icon-links/large/blue-up-large.png);
	}
}

// Large blue plus/minus icon
.icon-link.icon-link-plus {
	background-image:url(../img/icon-links/large/blue-plus-large.png);

	&.opposite {
		background-image:url(../img/icon-links/large/blue-minus-large.png);
	}
}



//
// Large darkgrey icons
//

// Large darkgrey right/left icon
.icon-link.icon-link-right.icon-link-darkgreyicon {
	background-image:url(../img/icon-links/large/darkgrey-right-large.png);

	&.toggled {
		background-image:url(../img/icon-links/large/darkgrey-left-large.png);
	}
}

// Large darkgrey down/up icon
.icon-link.icon-link-down.icon-link-darkgreyicon {
	background-image:url(../img/icon-links/large/darkgrey-down-large.png);

	&.toggled {
		background-image:url(../img/icon-links/large/darkgrey-up-large.png);
	}
}

// Large darkgrey plus/minus icon
.icon-link.icon-link-plus.icon-link-darkgreyicon {
	background-image:url(../img/icon-links/large/darkgrey-plus-large.png);

	&.toggled {
		background-image:url(../img/icon-links/large/darkgrey-minus-large.png);
	}
}



//
// Large white icons
//

// Large white right/left icon
.icon-link.icon-link-right.icon-link-whiteicon {
	background-image:url(../img/icon-links/large/white-right-large.png);

	&.opposite {
		background-image:url(../img/icon-links/large/white-left-large.png);
	}
}

// Large white down/up icon
.icon-link.icon-link-down.icon-link-whiteicon {
	background-image:url(../img/icon-links/large/white-down-large.png);

	&.opposite {
		background-image:url(../img/icon-links/large/white-up-large.png);
	}
}

// Large white plus/minus icon
.icon-link.icon-link-plus.icon-link-whiteicon {
	background-image:url(../img/icon-links/large/white-plus-large.png);

	&.opposite {
		background-image:url(../img/icon-links/large/white-minus-large.png);
	}
}







//
// Small blue icons  
//

// Small blue add basket icon
.icon-link-add-basket.icon-link-small {
	background-image:url(../img/icon-links/small/blue-add-basket-small.png);

	&.toggled {
		background-image:url(../img/icon-links/small/red-x-small.png);
	}
}
// Small blue link icon
.icon-link-link.icon-link-small {
	background-image:url(../img/icon-links/small/blue-link-small.png);

	&.opposite {
		// No opposite
	}
}
// Small blue list icon
.icon-link-list.icon-link-small {
	background-image:url(../img/icon-links/small/blue-list-small.png);

	&.opposite {
		// No opposite
	}
}
// Small blue rightarrow icon
.icon-link-rightarrow.icon-link-small {
	background-image:url(../img/icon-links/small/blue-rightarrow-small.png);

	&.opposite {
		// No opposite
	}
}
// Small blue x icon
.icon-link-x.icon-link-small {
	background-image:url(../img/icon-links/small/blue-x-small.png);

	&.opposite {
		// No opposite
	}
}



//
// Small darkgrey icons  
//

// Small darkgrey add basket icon
.icon-link-add-basket.icon-link-small.icon-link-darkgreyicon {
	background-image:url(../img/icon-links/small/darkgrey-add-basket-small.png);

	&.toggled {
		background-image:url(../img/icon-links/small/red-x-small.png);
	}
}
// Small darkgrey link icon
.icon-link-link.icon-link-small.icon-link-darkgreyicon {
	background-image:url(../img/icon-links/small/darkgrey-link-small.png);

	&.opposite {
		// No opposite
	}
}
// Small darkgrey list icon
.icon-link-list.icon-link-small.icon-link-darkgreyicon {
	background-image:url(../img/icon-links/small/darkgrey-list-small.png);

	&.opposite {
		// No opposite
	}
}
// Small darkgrey rightarrow icon
.icon-link-rightarrow.icon-link-small.icon-link-darkgreyicon {
	background-image:url(../img/icon-links/small/darkgrey-rightarrow-small.png);

	&.opposite {
		// No opposite
	}
}
// Small darkgrey x icon
.icon-link-x.icon-link-small.icon-link-darkgreyicon {
	background-image:url(../img/icon-links/small/darkgrey-x-small.png);

	&.opposite {
		// No opposite
	}
}



//
// Small lightgrey icons  
//

// Small lightgrey add basket icon
.icon-link-add-basket.icon-link-small.icon-link-lightgreyicon {
	background-image:url(../img/icon-links/small/lightgrey-add-basket-small.png);

	&.opposite {
		background-image:url(../img/icon-links/small/red-x-small.png);
	}
}
// Small lightgrey link icon
.icon-link-link.icon-link-small.icon-link-lightgreyicon {
	background-image:url(../img/icon-links/small/lightgrey-link-small.png);

	&.opposite {
		// No opposite
	}
}
// Small lightgrey list icon
.icon-link-list.icon-link-small.icon-link-lightgreyicon {
	background-image:url(../img/icon-links/small/lightgrey-list-small.png);

	&.opposite {
		// No opposite
	}
}
// Small lightgrey rightarrow icon
.icon-link-rightarrow.icon-link-small.icon-link-lightgreyicon {
	background-image:url(../img/icon-links/small/lightgrey-rightarrow-small.png);

	&.opposite {
		// No opposite
	}
}
// Small lightgrey x icon
.icon-link-x.icon-link-small.icon-link-lightgreyicon {
	background-image:url(../img/icon-links/small/lightgrey-x-small.png);

	&.opposite {
		// No opposite
	}
}










