@charset "UTF-8";

// =============================================================================
// Defaults
// =============================================================================

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 0.75em;
  line-height: 1.5;
  color: $grey-1;
}

html,
button,
input,
select,
textarea {
  font-family: $font-primary;
}




// =============================================================================
// Links
// =============================================================================

a {
  text-decoration: none;
  color: $blue;
}



// =============================================================================
// Headers
// =============================================================================
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}



// =============================================================================
// Lists
// =============================================================================
dl, dt, dd {
  margin:0;
}

ul, ol {
  margin:0;
  padding:0;
  list-style: none;
}

.field-name-body ul, .field-name-body ol {
  padding: 0 0 0 20px;;
  list-style: disc outside none;
}




// =============================================================================
// Misc
// =============================================================================
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
address {
  font-style: normal;
}
b,
strong {
  font-weight: bold;
}
pre {
  margin: 0 0 10px;
}
blockquote {
  margin: 1em 40px;
}


::-moz-selection {
  background: #b3d4fc; //FIX
  text-shadow: none;
}
::selection {
  background: #b3d4fc; //FIX
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: $grey-3;
}
:-moz-placeholder {
  color: $grey-3;
}
hr {
  border: 1px solid gray; // FIX
  height: 1px;
}



.text {

  p {
    margin: 0 0 0.8333em 0;
  }
  li {
    list-style: none;
    background: url(../img/list-style-image.gif) no-repeat 0% center;
    padding-left: 10px;
    line-height: 1.8;
  }
}

.text-small {
  font-size: 0.916667em; // 11px;
}
.text-white {
  color: $white;
}
.text-darkgrey {
  color: $grey-3;
}
.text-lightgrey {
  color: $grey-4;
}

// =============================================================================
// Tables
// =============================================================================

table.table-data{
  th {
    padding-right:10px;
    text-align:left;
    vertical-align:top;
    color:$grey-3;
    font-weight:bold;
    width: 100px;
  }
  td {
    color:$grey-3;
    vertical-align:top;
  }
}
