.text {

	p {
		margin:0 0 0.8333em 0;
	}

	li {
		list-style:none;
		background:url(../img/list-style-image.gif) no-repeat 0% center;
		padding-left:10px;
		line-height:180%;

		a {
			color:$dark_grey4;
		}
	}
}


.tbl {
	line-height:180%;
	
	th {
		padding-right:40px;
		text-align:left;
		color:$light_grey5;
		font-weight:normal;
	}
	td {
		color:$dark_grey4;
	}
}