// =============================================================================
// Headers
// =============================================================================

h1 {
  font-family: $font-secondary;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2;
}
