//
// Import: Widgets 
//

// Settings box heights
.widget-height-1 {
	height:100px;
}
.widget-height-2 {
	height:210px;
}
.widget-height-3 {
	height:320px;
}


// widget wrapper used when image is outside widget
.widget-wrapper {

	.field-image {
		float:left;
		position:relative;
	}
}

// Common widget styling
.widget {
	position: relative;	
	margin-bottom:10px;
	@include transition(background-color 0.3s);

	.inner {
		padding:15px;
	}
	footer {
		position:absolute;
		bottom:15px;
		right:15px;
		left:15px;
	}
	&:hover footer a {
		text-decoration:underline;
	}
}

// Dark grey widget
.widget-dark-grey {
	background:$dark_grey3;
	color: $light_grey4;	
	font-size: 0.91666em; // 11px

	&:hover {
		background:lighten($dark_grey3, 3%);	
	}

	.field-title {
		margin-bottom: 3px;

		h3 {
			font-size: 1.1666em; // 14px
			font-weight:bold;
			line-height: 120%;

			a {
				color:$white;		
			}
		}
	}

	.field-taxonomy,
	.field-artist {
		a {
			color: $light_grey4;	
		}	
	}
}


// Light grey widget
.widget-light-grey {
	background:$light_grey2;
	color:$dark_grey3;

	&:hover {
		background:lighten($light_grey2, 2%);
	}

	.field-title {
		margin-bottom:10px;
		
		h3 {
			font-family: 'Lato';
			font-size:2em; // 24px
			font-weight:300;			
			line-height:120%;

			a {
				color:$dark_grey2;
			}
		}
	}

	.field-body {
		line-height:150%;
	}
}



// Custom Biblioteksvagt widget
.widget-biblioteksvagt {
	background: $btn_blue;
	color:$white;

	.field-title {
		margin-bottom:10px;

		h3 {
			font-size: 1.1666em; // 14px
			font-weight:bold;
			line-height: 120%;

			a {
				color:$white;		
			}
		}	
	}

	.field-body {
		line-height:150%;
	}

	footer {
		bottom:0px;
		left:0px;
		right:0px;
		background:darken($btn_blue, 5%);
		padding:15px;
	}
}