// =============================================================================
// Bibdk Modal
// -----------------------------------------------------------------------------
// For settings related to the modal see settings/_modal.scss or
// http://foundation.zurb.com/docs/components/reveal.html
// =============================================================================

.bibdk-modal-header {
  height: rem-calc(60);
  display: table;
}

.bibdk-modal-title {
  @include typo("title", "section", "black");
  vertical-align: middle;
  display: table-cell;
  padding-left: rem-calc(20);
  padding-right: rem-calc(30);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.reveal-modal-bg{
  position: fixed;
}

#bibdk-modal-form {

  input[type="submit"] {
    margin: rem-calc(20) rem-calc(20) rem-calc(20) 0;
  }

  p {
    margin: 0 20px;
  }

  form {
    padding-top: rem-calc(20);
  }

  #user-login {
    padding-top: 0;
  }

  .message {
    border: none;
  }

  .form-wrapper {
    border: none;
    padding: 0;
  }

  .element-wrapper {
    margin-bottom: 0;
    border: none;
    background-color: $grey-bg--page;
  }

  .element {
    border: none;
  }

  .bibdk-login-methods, .bibliotekdk-login-leadtxt {
    border-radius: 0;
    margin: rem-calc(0 20 4 20);
    img{
      display: block;
      background-color: $white;
      padding: rem-calc(10);
      //max-height: 25%;
    }
    h2{
      font-size:1.1rem;
      font-weight: bold;
      margin-bottom: rem-calc(10);
    }
    .bibdk-login-method, .bibliotekdk-login-helptxt{
      //border:1px solid red;
      font-size: 0.875rem;
      margin-bottom: rem-calc(10);
    }
    .nemlogin-logo img {
      max-height: 3.5rem;
    }
    .wayflogin-logo img{
      max-height: 4rem;
    }
  }

  .bibliotekdk-login-leadtxt{
    font-size:1.1rem;
    font-weight: bold;
    margin-bottom: rem-calc(10);
  }

  .form-item {
    border-radius: 0;
    margin: rem-calc(0 20 4 20);
    padding: rem-calc(10);

    &.form-type-checkbox {
      padding-left: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type='email']{
      border: none;
      height: rem-calc(20);
      padding: 0;
      float: right;
      color: $black;
      width: 100%;
      font-size: 16px;

      &.error {
        border: 1px solid $red;
      }
    }

    label {
      float: left;
    }
  }

  .form-item-fake-password {
    display: none;
  }

  .form-type-textfield,
  .form-type-password,
  .form-type-textarea,
  .form-type-email{
    background-color: $white;
  }

  .ajax-progress {
    position: absolute;
    top: 20px;
    right: 40px;
  }

  .form-actions {
    padding: 0;

    .form-item {
      padding: 0;
    }

    .form-type-checkbox {
      position: absolute;
      margin: rem-calc(27 0 0);
      right: rem-calc(120);

      .form-checkbox {
        margin-top: rem-calc(2);
        float: left;
        margin-right: rem-calc(5);
      }

      label {
        @include typo("link", "item-links", "grey-dark");
        min-width: 60%;
        max-width: none;
        float: right;
      }
    }

    .item-list {
      text-align: left;
      margin: rem-calc(0 20);
      float:left;

      li {
        margin: 0;
      }

      a {
        line-height: normal;
        @include typo("link", "item-links", "black");
      }

      //.first a {
      //  color: $blue--hover;
      //}
    }
  }

  .fieldset-description {
    padding: 0 rem-calc(20);
  }

  #bibdkcaptcha-controls {
    background-color: $white;
    margin: 0 rem-calc(20) 2px rem-calc(20);

    padding: rem-calc(10) 0 rem-calc(10) rem-calc(10);

    button {
      border: none;
      padding: 0;
      img {
        padding: 0;
      }
    }
  }

  // doing some very specifc styling to override stuff in _buttons.scss
  #bibdk-favourite-user-form {
    input[type="submit"] {
      float: right;
    }
  }

  .filter-guidelines {
    padding: rem-calc(20) 0 0 rem-calc(20);
  }

  .bibdk-provider-form-inputs {
    margin-bottom: 55px;
  }
}
