// =============================================================================
// Bibdk Modal
// -----------------------------------------------------------------------------
// For settings related to the modal see settings/_modal.scss or
// http://foundation.zurb.com/docs/components/reveal.html
// =============================================================================

.bibdk-modal-header {
  height: rem-calc(60);
  display: table;
}

.bibdk-modal-title {
  vertical-align: middle;
  display: table-cell;
  padding-left: rem-calc(20px);
  @include typo("title", "section", "black");
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#bibdk-modal-form {

  form {
    padding-top: rem-calc(20);
  }

  .element-wrapper {
    margin-bottom: 0;
    border: none;
    background-color: $grey-bg--page;
  }

  .element {
    border: none;
  }

  #block-ding-wayf-login {
    display: none;

    @media #{$medium-up} {
      display: block;
    }
  }

  .form-item {
    border-radius: 0;
    margin: 0 rem-calc(20) rem-calc(4) rem-calc(20);
    padding: rem-calc(15);

    input[type="text"],
    input[type="password"] {
      border: none;
      height: rem-calc(20);
      padding: 0;
      float: right;
      color: $grey-text--dark;
    }

    label {
      @include typo("title", "small", "grey-dark");
      font-weight: bold;
      float: left;
      margin-bottom: 0;
    }
  }

  #edit-actions {
    padding: 0;

    .form-item {
      padding: 0;
    }
  }

  .form-type-textfield,
  .form-type-password {
    background-color: $white;
  }

  .form-actions {
    margin: 0 rem-calc(20);

    .form-type-checkbox {
      position: absolute;
      width: 80px;
      margin: rem-calc(27) 0 0;
      right: 130px;

      .form-checkbox {
        height: 20px;
        vertical-align: middle;
        float: left;
      }

      label {
        @include typo("link", "item-links", "grey-dark");
        min-width: 60%;
        max-width: none;
        float: right;
      }
    }

    input[type="submit"] {
      margin-top: rem-calc(20);
      margin-bottom: rem-calc(20);
    }

    .item-list {
      text-align: left;

      li {
        margin: 0;
      }

      a {
        line-height: normal;
        @include typo("link", "item-links", "black");
      }
    }
  }

  .bibdk-provider-form-inputs {
    margin-bottom: 55px;
  }

  #bibdkcaptcha-controls {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #bibdkcaptcha-controls-audiobtn,
  #bibdkcaptcha-controls-refreshbtn {
    padding: 0;
  }
  #user-login .form-actions .form-item-remember-me {
    margin-top: 5px;
  }

  .form-item-captcha-response {
    float: right;
  }

  /*.form-item {
    padding-bottom: 10px;

    label {
      font-size: 1em;
      width: 100%;
    }
  }*/

  .message {
    border: none;
  }

  #bibdk-favourite-user-form {
    padding: 0;
    width: 100%;

    p {
      padding: 10px 0 0 10px;
      font-size: 16px;
    }

    .form-wrapper {
      padding: 0 10px 0 0;
    }

    .form-item {
      padding: 10px 0px 0px 10px;

      label {
        @extend label;
        margin-bottom: 0;
        margin-top: 5px;
      }

      .form-item-fake-password {
        padding: 0;
      }

      input[type="text"],
      input[type="password"] {
        border-radius: 0;
        @include inline-block();
        @include box-sizing(border-box);
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
        @include transition(border .2s, box-shadow .2s);

        width: 100%;
        height: 30px;
        padding: 0 5px;
        color: $grey-3;
        font-size: 14px;
        background-color: $white;
        border: 1px solid $grey-5;
        &.error {
          border: 2px solid #ff0000;
        }
      }

      input[type="text"]:focus,
      input[type="password"]:focus {
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
        border-color: rgba(82, 168, 236, 0.8);
      }

      &.form-type-checkbox {
        margin-top: 10px;

        input[type="checkbox"] {
          vertical-align: middle;
        }

        label {
          float: left;
          width: 135px;
          margin: 0;
          color: $grey-3;
        }
      }
    }

    .form-submit {
      float: right;
      margin: 20px 0;
    }
  }
}