// =============================================================================
// Import: Buttons
// =============================================================================

input[type="submit"].button-as-link {
  @include button-as-link($blue);
}

// =============================================================================
// Define color variations of buttons
// =============================================================================
.btn-blue {
  background-color: $blue; // IE9 fix: background-image mixin fails in IE9
  color: $white;
}

.btn-grey {
  background-color: $grey-3; // IE9 fix: background-image mixin fails in IE9
  color: $white;
}

// =============================================================================
// Classes
// =============================================================================
a.btn {
  &:hover,
  &:focus {
    color: $white;
  }
}

.btn {
  @include box-sizing(border-box);
  @include transition(all .1s);
  @include inline-block();
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;

  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: rem-calc(14);
  border-radius: 0;

  &:disabled,
  &.disabled {
    cursor: default;
    background-color: $blue-light;
    background-image: none;

    &:hover {
      @include box-shadow(0 0 0);
    }
  }
}

.further-search-btn {
  float: right;
}

button[type="button"] {
  border: medium none;
}

