// =============================================================================
// Logo
// =============================================================================

#header .logo {
  position: absolute;
  top: 20px;
}

#footer .logo {
  text-align: center;
}
