// =============================================================================
// Messages
// =============================================================================

// Single message
.message {
  position: relative;
  padding: 15px 15px 15px 48px;
  border: 1px solid #999;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid $grey-4;
  }

  &:after {
    position: absolute;
    top: 4px;
    left: 12px;
    content: '';
  }

  a {
    @extend .apparent-link;
  }
}


// Message types
.message--notice {
  background-color: $notice;
  &:after {
    @include add-sprite(messages--notice);
  }
}
.message--status {
  background-color: $status;
  &:after {
    @include add-sprite(messages--status);
  }
}
.message--warning {
  background-color: $warning;
  &:after {
    @include add-sprite(messages--warning);
  }
}
.message--error {
  background-color: $error;
  &:after {
    @include add-sprite(messages--error);
  }
}
