// =============================================================================
// Page sections
// =============================================================================

// Topbar
#topbar {
  @extend .padded--horizontal;
  background-color: $black;
}

// Header
#header {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $grey-1;

  .infomedia-article & {
    background-color: $white;
  }
}

// Search panel
#search-panel {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $grey-6;

  .lift-columns & {
    padding-bottom: 0;
  }
}

// Messages
#messages {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $grey-7;
}

// User alerts
#user-alerts {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $grey-7;
}

// Carousel
#carousel {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $white;
}

// Subjects
#subjects {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $grey-7;
}

// Columns
#columns {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $white;

  .lift-columns & {
    padding-top: 10px;
    background-color: $grey-6;
  }
}

// Banner
#banner {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $white;
}

// Footer
#footer {
  @extend .padded--horizontal;
  @include rem('padding', 40px 0 100px);
  text-align: center;
  background-color: $grey-2;
}
