// =============================================================================
// Page sections
// =============================================================================

// Search panel
#search-panel {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $grey-bg--page;

  .lift-columns & {
    padding-bottom: 0;
  }
}

// Messages
#messages {
  @extend .padded--horizontal;
  padding: rem-calc($spacing $spacing 0 $spacing);
  background-color: $grey-bg--page;
}

// User alerts
#user-alerts {
  background-color: $grey-7;
  @extend .padded--horizontal;
  // we only want padding if there's an alert.
}

// Carousel
#carousel {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  
  display: none;
  
  @media #{$medium-up} {
    display: block;
    background-color: $grey-bg--page;
  }
}

// Subjects
#subjectshierarchy {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  
  display: none;
  
  @media #{$small-up} {
    display: block;
    background-color: $grey-bg--page;
  }
}

// Columns
#columns {
  background-color: $grey-bg--page;
  padding: 0 0 $spacing 0;
  min-height: 300px;

  @media #{$medium-up} {
    min-height: 550px;
    @include rem('padding-left', $spacing);
    @include rem('padding-right', $spacing);
  }
}

// Banner
#banner {
  @extend .padded--horizontal;
  @extend .padded--vertical;
  background-color: $grey-bg--page;
}
