$topbar_height: rem-calc(45px);

.tab-bar {
  height: $topbar_height;
  background-color: $black;
}

.topbar-logo {
  display: inline;
  margin-left: rem-calc(20px);
}

.topbar-links {
  @media #{$large-up} {
    display: inline;
    margin-right: rem-calc(85px);
    a {
      margin: 0 10px;
    }
  }
}

.right-small {
  border: none;

  @media #{$medium-up} {
    right: rem-calc(45px);
  }

  .menu-text {
    display: none;

    @media #{$medium-up} {
      display: inline;
      padding-left: rem-calc(5px);
    }
  }
}

.right-off-canvas-menu {
  margin-top: $topbar_height;
  background-color: $grey-7;
}

ul.off-canvas-list {
  li {
    a {
      color: $black;
      font-weight: bold;
      font-size: rem-calc(14px);
      border-bottom: 1px solid $grey-5;
      padding: rem-calc(13px 0 13px 20px);

      &.active {
        background-color: $white;
      }

      &:hover{
        background-color: $grey-6;
      }
    }
  }
}

ul.off-canvas-footer-menu {
  border-bottom: 1px solid $grey-5;
  padding: rem-calc(20px) 0 rem-calc(10px) 0;

  li {
    padding: 0 0 rem-calc(8px) rem-calc(20px);
    a {
      color: $grey-1;
      font-size: rem-calc(12px);
      &.active {
      }

      &:hover{
      }
    }
  }
}