// =============================================================================
// Topbar
// =============================================================================

#svg-logo {
  path {
    fill: $white;
  }
  path:nth-of-type(1) {
    fill: $blue;
  }
}


.topbar {
  @media print {
    display: none;
  }
  position: relative;
  height: $topbar_height;
  background-color: $black;

  .svg-chat {
    @include svg("svg-chat", "white");
  }

  .svg-user{
    @include svg("svg-user", "white");
  }
}

.topbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;

  a {
    display: table-cell;
    height: $topbar_height;
    line-height: 0;
    vertical-align: middle;
  }

  .svg-logo-header {
    width: rem-calc(136px);
    height: rem-calc(16px);
  }
}

.topbar-links {
  position: absolute;
  right: 0;
  top: 10px;
  margin-right: 20px;

  a {
    @include typo("link", "topbar-links", "white");
    height: $topbar_height;
    line-height: 0;
    vertical-align: middle;
    padding-left: 36px;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  span {
    margin-left: 5px;
    vertical-align: middle;
  }

  .svg-icon {
    width: rem-calc(20px);
    height: rem-calc(15px);
    fill: $white;
    vertical-align: middle;
  }
}
