// =============================================================================
// User alerts
// =============================================================================


.user-alert {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: $notice;
  position: relative;
  padding: 0.5rem;
  border: 1px solid $grey-2;
  &:after {
    @include add-sprite(messages--notice);
  }

  a {
    @extend .apparent-link;
  }

  .user-alert-message {
    margin-left: 12px;
  }

  .user-alert-close {
    height: 24px;
    width: 24px;
    float: right;
    margin: 5px 0 0px 10px;
    line-height: 24px;
    text-align: right;
    overflow: visible;
    text-decoration: none;

    span.user-alert-close-image {
      @include add-sprite(messages--error);
      background-position: -15px -298px;
      content: "";
      display: block;
      height: 15px;
      width: 15px;
    }
  }
}

