// =============================================================================
// Helpers
// =============================================================================

.padded--horizontal {
  @include rem('padding-left', $spacing);
  @include rem('padding-right', $spacing);
}

.padded--vertical {
  @include rem('padding-top', $spacing);
  @include rem('padding-bottom', $spacing);
}

.padded {
  @extend .padded--horizontal;
  @extend .padded--vertical;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav--horizontal {
  @extend .nav;
  @extend .clearfix;

  li {
    float: left;
    display: block;
  }
  a {
    float: left;
    display: block;
  }

}

.apparent-link {
  color: $black;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Helper for styling links as tabs after refactoring custom_search tabs from buttons to links
.link-as-box {
  @include box-sizing(border-box);
  vertical-align: middle;
  padding: 0 20px;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.two-panel-multi-select {
  @extend .clearfix;
  .form-type-select {
    width: 35%;
    float: left;
  }
  select {
    width: 100%;
    height: inherit;
  }
  .list-actions {
    margin-top: 50px;
    float: left;
    width: 30%;
    padding: 0 10px;
    @include box-sizing(border-box);
  }
}
