// =============================================================================
// Helpers
// =============================================================================

.clearfix {
  @include clearfix();
}

.container {
  @extend .clearfix;
  position: relative;
  margin: 0 auto;
  max-width: $max-width;
}
.container__wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav--horizontal {
  @extend .nav;
  @extend .clearfix;

  li {
    float:left;
    display:block;
  }
  a {
    float:left;
    display:block;
  }

}









.apparent-link {
  color: $black;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}








.two-panel-multi-select{
  @extend .clearfix;
  .form-type-select {
    width: 35%;
    float: left;
  }
  select {
    width: 100%;
    height: inherit;
  }
  .list-actions {
    margin-top: 50px;
    float: left;
    width: 30%;
    padding: 0 10px;
    @include box-sizing(border-box);
  }
}
