// =============================================================================
// HTML
// =============================================================================

html {
  font-size: 1em;
}

body {
  font-size: 0.75em;
  font-family: $font-primary;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  background: $grey-2;
  color: $grey-1;
}

// =============================================================================
// General typography reset
// =============================================================================

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 0.75rem;
}

// =============================================================================
// Headers reset
// =============================================================================

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

// =============================================================================
// Lists reset
// =============================================================================

ul, ol {
  list-style: none;
  font-size: .75rem;
}

// =============================================================================
// Links
// =============================================================================

a {
  text-decoration: none;
  color: $blue;
  &:hover {
  }
  &:focus {
  }
  &:active {
  }
}

// =============================================================================
// Horizontal line
// =============================================================================

hr {
  border: 1px solid $grey-4;
  height: 1px;
}

// =============================================================================
// Images
// =============================================================================

img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

// =============================================================================
// Tables
// =============================================================================

table {
}

th, td {
  vertical-align: top;
  color: $grey-3;
}

th {
  padding-right: 10px;
  text-align: left;
  font-weight: bold;
  width: 100px;
}

td {
}

// =============================================================================
// Misc
// =============================================================================

address {
  font-style: normal;
}

pre {
  margin: 0 0 10px;
}

blockquote {
  margin: 1em 40px;
}

