.accordion-navigation {
  & > a {
    font-weight: bold;
    line-height: 15px;
    @include bibdk-triangle(top);
  }
  &.active > a {
    @include bibdk-triangle(bottom);
  }
  border: 1px solid $grey-border;
  border-bottom: none;
  &:last-child {
    border-bottom: 1px solid $grey-border;
  }

}
