.accordion-navigation {
  & > a {
    font-weight: bold;
    line-height: 15px;
    @include bibdk-triangle(top);
  }
  &.active > a {
    &::after {
      @include apply-origin(50% 25%, false);
      @include rotate(180deg);
    }
    //@include bibdk-triangle(bottom);
    //@include -webkit-transform: ;-moz-transform: ;-ms-transform: ;-o-transform: ;transform: ;

  }
  border: 1px solid $grey-border;
  border-bottom: none;
  &:last-child {
    border-bottom: 1px solid $grey-border;
  }

}

.triangle {
  @include bibdk-triangle(top);
}
