// =============================================================================
// Manifestation actions
// =============================================================================
.primary-actions {
  margin-top: 1rem;
}

.primary-actions, .secondary-actions {
  .icon {
    display: none;
  }
  a {
    display: block;
  }
}

// =============================================================================
// Exportlinks
// =============================================================================
[data-dropdown]::after {
  @include css-triangle(5px, $blue, top);
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  position: absolute;
  right: 0;
  vertical-align: text-bottom;
}

// =============================================================================
// Cart action
// =============================================================================
.add-item-to-cart {
  svg {
    float: right;
    height: 12px;
    display: inline;
    width: 12px;
    margin-right: 1px;
    margin-top: 3px;
    line-height: 20px;
    vertical-align: text-bottom;
    fill: $grey-text--dark;
  }
  &.in-cart svg {
    fill: $yellow;
  }
  &.ajax-progress .throbber {
    float:  right;;
  }
}
