
article svg.svg-arrow-right {
  width: rem-calc(12px);
  height: rem-calc(12px);
  fill: $black;
  float: right;
}


.view-article-view.right {
  padding-left: $spacing;
}

article.article-widget{
  .field-label{
    display:none;
  }
}

.view-article-view {
  .views-field-title {
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    @media #{$medium-up} {
      font-size: 1.25rem;
      line-height: 1.7rem;
    }
    display: inline-block;
    margin-bottom: 1rem;
  }
  @media #{$small-only} {
    .views-field-title, .views-field-body {
      margin-bottom: .5rem;
    }
  }
}

.views-row-first article.article-widget.bibdk-article-top {
  border-right:solid 2*$spacing $grey-bg--page;
}

.views-row-last article.article-widget.bibdk-article-top {
  border-left:solid 2*$spacing $grey-bg--page;
}

.panel-top .view-article-view{
  padding: 0;
  margin: 0;
}

.bibdk-article-top {
  a {
    display: block;
    width: 100%;
  }
}

.article-top-link.icon-blue-right{
  background-repeat: no-repeat;
  background-position: 100% 0%;
}


article.article-widget.bibdk-article-top {
  @extend .hide-for-medium-down;
  width:percentage(1px/3px);
  float:left;
  .inner {
    background-color: $white;
    .footer {
      background-color: $white;
      .icon{
        float:right;
      }

    }
  }
}

article.article-widget.bibdk-article-none-show-mobile,
article.article-widget.bibdk-article-none-show-large,
article.article-widget.bibdk-article-show-mobile,
article.article-widget.bibdk-article-show-large {

  margin-bottom: 2*$spacing;
  background-color: $white;
  article.article-widget.bibdk-article-bottom, .widget   {
    margin-bottom: 2*$spacing;
    background-color: $white;

    .inner {
      box-sizing: border-box;

      .footer {
        background-color: $grey-bg--section;
        margin-top: 20px;
        padding: 10px;
      }
    }
    a {
      font-weight: bold;
    }
  }

}

// mobile and none-large
article.article-widget.bibdk-article-show-mobile.bibdk-article-none-show-large {
  @extend .hide-for-medium-up;
}

// none-mobile and large
article.article-widget.bibdk-article-none-show-mobile.bibdk-article-show-large {
  @extend .show-for-medium-up;
}
