.view-article-view.columns{
  padding: 0;
}

.view-article-view.right {
  padding-left: $spacing;
}

article.article-widget{
  .field-label{
    display:none;
  }
}

.bibdk-article-top.bibdk-article-right{
  padding-right: $spacing/2;
}

.bibdk-article-top.bibdk-article-left{
  padding-left: $spacing/2;
}

article.article-widget.bibdk-article-top {
  @extend .hide-for-medium-down;
  margin-bottom: $spacing;
  width:50%;
  float:left;
  .inner {
    .footer {
      background-color: $grey-bg--section;
      margin-top: 0px;
      padding: 0.75em;
      .icon{
        float:right;
      }

    }
  }
}

article.article-widget.bibdk-article-bottom, .widget   {
  @extend .hide-for-medium-down;
  margin-bottom: 10px;
  background-color: $white;

  .inner {
    padding: 15px;
    box-sizing: border-box;

    .footer {
      background-color: $grey-bg--section;
      margin-top: 20px;
      padding: 10px;
    }
  }
  a {
    font-weight: bold;
  }
}


