
article svg.svg-arrow-right {
  width: rem-calc(12px);
  height: rem-calc(12px);
  fill: $black;
  float: right;
}


.view-article-view.right {
  padding-left: $spacing;
}

article.article-widget{
  .field-label{
    display:none;
  }
}

.view-article-view .views-field-title{
  font-weight: bold;
  font-size: 15px;
  line-height: rem-calc(20);
}

.views-row-first article.article-widget.bibdk-article-top{
  border-right:solid 2*$spacing $grey-bg--page;
}

.views-row-last article.article-widget.bibdk-article-top{
  border-left:solid 2*$spacing $grey-bg--page;
}

.bibdk-article-top a{
  display: block;
  width:100%;
}

.article-top-link.icon-blue-right{
  background-repeat: no-repeat;
  background-position: 100% 0%;
}


article.article-widget.bibdk-article-top {
  @extend .hide-for-medium-down;
  width:percentage(1px/3px);
  float:left;
  .inner {
    background-color: $white;
    .footer {
      background-color: $white;
      .icon{
        float:right;
      }

    }
  }
}

article.article-widget.bibdk-article-bottom, .widget   {
  @extend .hide-for-medium-down;
  margin-bottom: 2*$spacing;
  background-color: $white;

  .inner {
    //padding: 15px;
    box-sizing: border-box;

    .footer {
      background-color: $grey-bg--section;
      margin-top: 20px;
      padding: 10px;
    }
  }
  a {
    font-weight: bold;
  }
}


