// =============================================================================
// Bibdk Cart
// =============================================================================

.page-user-cart {
  table.table {
    background-color: $white;
    width: 100%;
    th, td {
      padding: 5px;
      vertical-align: top;
    }
    th:first-child,
    td:first-child {
      min-width: 1.5em;
      max-width: 2em;
    }
    th:nth-child(2),
    td:nth-child(2) {
      @media #{$small-only} {
        min-width: 10em;
      }
    }
    th:nth-child(3),
    td:nth-child(3) {
      min-width: 10em;
      max-width: 14em;
    }
    th:last-child,
    td:last-child {
      min-width: 10em;
      max-width: 14em;
    }
    .form-item {
      padding: 3px 10px;
    }
  }
}

#bibdk-cart-view-form {
  background-color: $grey-bg--section;
  .btn {
    @media print {
      display: none;
    }
  }
}

#edit-cartactions {
  padding: 0 0 0 20px;

  .item-list ul li {
    margin: 0px 4px;
  }

  @media print {
    display: none;
  }

}

.bibdk-cart-helptext {
  padding: 0 0 10px 20px;
}

#bibdk-cart-pager {
  text-align: center;
  a {
    padding: 0 5px;
  }

  .bold {
    font-weight: bold;
  }
}

#edit-cartactions .item-list ul li {
  @media #{$small-only} {
    margin: 14px 4px;
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
