// =============================================================================
// CTools modal window
// =============================================================================

.ctools-modal-content {
  height: 100%;
  position: relative;


  // TODO Exceptions which should be moved to respective modules
  .element-wrapper {
    margin-bottom: 0;
  }
  .bibdk-provider-form-inputs {
    margin-bottom: 55px;
  }
  #bibdkcaptcha-controls {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #bibdkcaptcha-controls-audiobtn,
  #bibdkcaptcha-controls-refreshbtn {
    padding: 0;
  }
  #user-login .form-actions .form-item-remember-me {
    margin-top: 5px;
  }
  .item-list {
    margin-top: -40px;
    margin-bottom: 50px;
    text-align: left;
    ul {
      display: inline;
      li {
        margin: 2px 15px 0 0;
        float: left;
        padding: 0;
        a {
          font-size: 1em;
        }
      }
    }
  }
  .form-item-captcha-response {
    float: right;
  }
  .form-item {
    padding-bottom: 10px;

    label {
      font-size: 1em;
      width: 100%;
    }
  }
  .messages {
    margin-bottom: 0;
    margin-top: 10px;
  }
  tbody {
    border: none;
  }

}







.modal-header {
  @include rem('padding', 10px);
  background-color: $blue;
  position: relative;
}

.modal-title {
  color: $white;
  font-size: 18px;
}

.modal-close {
  @extend .hide-text;
  @include add-sprite("close--white");
  @include align("vcenter");
  right: 10px;
}

.modal-scroll {
  overflow: hidden;
  overflow-y: auto;
}

.modal-content {
  position: relative;
  background-color: $white;
}

.popups-container {
  overflow: hidden;
  height: 100%;
  background-color: #fff;
}

.modal-throbber-wrapper img {
  @include align("center");
}
