// =============================================================================
// Bib.dk search pages
// =============================================================================

.container-inline div.bibdk-subgroup {
  display: block;
}

#search-advanced-panel {

  display: block;

  .btn-submit {
    float: right;
    margin: 1% 1% 1% 1%;
    height: 30px;
    width: 140px;
    background-color: $blue;
  }

  .bibdk-custom-search-element .sub-elements {
    display: block;
    margin-left: 24px;
    width: 100%;
  }

  .popover {
    left: 0;
    text-align: left;
    .user-msg {
      min-height: 1.5em;
    }
  }

  input.form-checkbox, input.form-radio {
    line-height: rem-calc(20);
    margin-top: 1px;
  }

  .element-wrapper {
    background-color: inherit;
  }

  fieldset#edit-expand {
    margin-left: 0;
    width: 100%;
    > legend {
      background-color: inherit;
      border: none;
      display: block;
      width: auto;
      padding-left: 0;
      margin-bottom: -16px;
      margin-top: -16px;
      a {
        padding-left: 20px;
        background: url("../img/in_use/icons/blue-minus.png") no-repeat left center;
      }
    }
    .fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }

    fieldset:first-child {
      margin-left: 0%;
    }
    .sub-elements {
      display: block;
      margin-left: 20px;
      width: 100%;
    }
  }

  //====================
  // FORM ITEMS
  //--------------------
  .form-type-textfield {
    width: 320px;
    border: solid 1px $grey-border;
  }
  //--------------------
  // FORM ITEMS -- END
  //====================

  //====================
  // FORM ITEMS -- LEGENDAREA
  //--------------------
  .fieldset-legend {
    font-size: rem-calc(16px);
    padding: 0;
    float: left;
    margin-right: 5px;
  }

  .fieldset-description {
    white-space: nowrap;
    display: inline-block;
  }

  .custom-search--helptext-container {
    text-align: left;
    margin-bottom: 5px;
  }
  //--------------------
  // FORM ITEMS -- LEGENDAREA -- END
  //====================

  //====================
  // LABELS
  //--------------------
  label {
    margin: 0;
    padding: 4px 0 0 0;
    font-weight: normal;
    color: $grey-bg--tabs;
    font-size: rem-calc(14);
  }

  .bibdk-custom-search-element {

    label {
      float: left;
      line-height: 15px;
      color: $black;
      margin: 0;
      padding: 0;
    }

    .form-type-checkbox {
      padding: 0;
      margin: 0 0 0.7rem 0;
    }
  }
  //--------------------
  // LABELS -- END
  //====================

  .toggle-subgroup {
    @include inline-block(top);
    width: 15px;
    color: transparent;
    background: url(../../img/svg/plus-circle.svg) no-repeat;
    background-size: 15px;
    border: none;
    display: block;
    float: left;
    position: relative;
    margin-right: 5px;
  }
  .toggle-subgroup.toggled {
    background: url(../../img/svg/minus-circle.svg) no-repeat;
    background-size: 15px;
  }

  fieldset#edit-expand.collapsed {
    width: 100%;
    > legend {
      background-color: inherit;
      border: none;
      display: block;
      width: auto;
      a {
        padding-left: 20px;
        background: url("../img/in_use/icons/blue-plus.png") no-repeat left center;
      }
    }
  }

  /* first row of columns in "expanded search" */
  fieldset {
    margin-bottom: 1em;
    display: inline;
    vertical-align: top;
  }
}

//========================================
// SEARCHPAGE: ALLE MATERIALE
//----------------------------------------
.allematerialer #search-advanced-panel {
  fieldset {
    width: 33%;
  }
  .materialetype {
    .fieldset-wrapper {
      text-align: left;
    }
  }
  .sprog {
    .bibdk-custom-search-element .column {
      width: 33%;
      float: left;
    }
    .fieldset-wrapper {
      text-align: left;
    }
  }

  .udgivelsesar {
    .bibdk-custom-search-element {
      //border: solid 1px $grey-border;

      .form-item {
        border: solid 1px $grey-border;

        &:first-of-type {
          border-right: none;
        }

        &:last-of-type {
          border-left: none;
        }
      }
    }

    .form-type-select {
      display: table-cell;
    }

    .fieldset-wrapper {
      text-align: left;
    }
  }
}

/* boeger:sprog */
.page-search-work form#search-block-form[data-type='bibdk_frontpage/bog'],
.page-bibdk-frontpage-bog div#search-advanced-panel {
  .element-wrapper.materialetype {
    width: 16%;
  }
  .element-wrapper.litterar_form {
    width: 17%;
  }
  .element-wrapper.malgruppe {
    width: 13%;
  }
  .element-wrapper.sprog {
    width: 22%;
  }
  .element-wrapper.sprog {
    .bibdk-custom-search-element .column {
      width: 49%;
      float: left;
    }
  }
  .element-wrapper.udgivelsesar {
    margin: 0 1% 0 1%;
    width: 26%;
  }
  .element-wrapper {
    margin-left: 0;
    div.fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }
    .form-type-select {
      float: left;
    }
    .form-type-select:last-child {
      float: right;
    }
    div.form-item {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  div#search-advanced-panel fieldset.artiklens_emne {
    margin-left: 0;
  }
}

.page-search-work form#search-block-form[data-type='bibdk_frontpage/artikel'],
.page-bibdk-frontpage-artikel div#search-advanced-panel {
  .element-wrapper.tidsskrift_eller_avis,
  .element-wrapper.artikel_titelord,
  .element-wrapper.artiklens_forfatter,
  .element-wrapper.artiklens_emne {
    width: 49%;
  }
  .element-wrapper.materialetype {
    width: 20%;
  }
  .element-wrapper.sprog {
    width: 23%;
    margin: 0 0 0 8%;
    .bibdk-custom-search-element .column {
      width: 50%;
      float: left;
    }
  }
  .element-wrapper.udgivelsesar {
    width: 26%;
    margin: 0 1% 0 3%;
    div.form-item {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  .element-wrapper {
    div.fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }
    .form-type-select {
      float: left;
    }
    .form-type-select:last-child {
      float: right;
    }
  }
  .btn-submit {
    margin-bottom: 1em;
  }
  fieldset.artiklens_forfatter {
    margin-left: 0;
  }
}

.page-search-work form#search-block-form[data-type='bibdk_frontpage/film'],
.page-bibdk-frontpage-film div#search-advanced-panel {
  .element-wrapper.filmens_titel,
  .element-wrapper.personer {
    width: 48.5%;
  }
  .element-wrapper.nationalitet {
    width: 98%;
    margin-left: 0;
    .bibdk-custom-search-element .column {
      width: 22%;
      float: left;
    }
    .bibdk-custom-search-element .column2 {
      width: 26%;
    }
    .bibdk-custom-search-element .column3 {
      width: 30%;
    }
  }
  .element-wrapper.genre_type {
    width: 98%;
    margin-left: 0;
    .bibdk-custom-search-element .column {
      width: 20.5%;
      float: left;
    }
    .bibdk-custom-search-element .column2 {
      width: 17%;
      float: left;
    }
  }
  .element-wrapper.materialetype {
    width: 20%;
    margin-left: 0;
    .bibdk-custom-search-element .column {
      width: 50%;
      float: left;
    }
  }
  .element-wrapper.aldersanbefaling,
  .element-wrapper.tilladt_for {
    width: 32%;
    select {
      width: 95%;
    }
  }
  .element-wrapper {
    div.fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }
  }
}

.page-search-work form#search-block-form[data-type='bibdk_frontpage/net'],
.page-bibdk-frontpage-net div#search-advanced-panel {
  .element-wrapper.materialetype,
  .element-wrapper.element-wrapper
  .element-wrapper.litterar_form {
    width: 34%;
    margin-left: 0;
  }
  .element-wrapper.sprog {
    width: 32%;
    margin-left: 0;
    .bibdk-custom-search-element .column {
      width: 49%;
      float: left;
    }
  }
  .udgivelsesar {
    margin: 0 1% 0 1%;
    width: 26%;
    .form-type-select {
      float: left;
    }
    .form-type-select:last-child {
      float: right;
    }
    div.form-item {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  .element-wrapper {
    div.fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }
    .form-type-select {
      float: left;
    }
    .form-type-select:last-child {
      float: right;
    }
  }
}

.page-search-work form#search-block-form[data-type='bibdk_frontpage/spil'],
.page-bibdk-frontpage-spil div#search-advanced-panel {
  select {
    width: 100%;
  }
  .element-wrapper.platform {
    width: 40%;
    .bibdk-custom-search-element .column {
      width: 49%;
      float: left;
    }
  }
  .element-wrapper.spilgenre_type {
    width: 59%;
    margin-left: 0;
    margin-top: 8px;
    .bibdk-custom-search-element .column {
      width: 33%;
      float: left;
    }
  }
  .element-wrapper.medieradets_aldersanbefalinger,
  .element-wrapper.aldersanbefaling {
    width: 40%;
  }
  .medieradets_aldersanbefalinger {
    margin-left: 0;
  }
  .element-wrapper {
    div.fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }
  }
  .btn-submit {
    margin-top: -20px;
  }
}

.page-search-work form#search-block-form[data-type='bibdk_frontpage/musik'],
.page-bibdk-frontpage-musik div#search-advanced-panel {
  > :nth-child(2) {
    margin-right: 30%;
  }
  > :nth-child(3) {
    margin-left: 0;
  }
  .musikgenre {
    width: 98%;
    margin-left: 1%;
    div.fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }
    .bibdk-custom-search-element .column {
      width: 25%;
      float: left;
    }
    .bibdk-custom-search-element .column3 {
      width: 22%;
    }
  }
  .materiale {
    width: 75%;
    margin-left: 0;
    div.fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }
    .bibdk-custom-search-element .column {
      width: 25%;
      float: left;
    }
  }

  .btn-submit {
    margin-top: -20px;
  }
}

.page-search-work form#search-block-form[data-type='bibdk_frontpage/noder'],
.page-bibdk-frontpage-noder div#search-advanced-panel {
  .materiale {
    width: 85%;
    margin-left: 1%;
    div.fieldset-wrapper {
      text-align: left;
    }
    .fieldset-description {
      display: none;
    }
    .bibdk-custom-search-element .column {
      width: 38%;
      float: left;
    }
    .bibdk-custom-search-element .column0 {
      width: 24%;
    }
  }

  .btn-submit {
    margin-top: -20px;
  }
}

div#search-advanced-panel .custom-search-options-list {
  @extend .modal--center-horizontally;
  @extend .modal--center-vertically;
  width: 600px;
  height: 460px;

  .panel-select {
    @extend .two-panel-multi-select;
    .form-type-select {
      height: 350px;
    }
  }
  .custom-search-list-save, .custom-search-list-close {
    margin: 20px;
    width: auto;
    float: right;
  }
  h3 {
    @extend .modal__title;
  }
}
