//========================================
// SEARCHPAGES: GENERAL STYLING
//----------------------------------------
#search-advanced-panel {
  fieldset {
    width: 33%;
    min-width: 10px;
    margin-bottom: 1em;
    display: inline-block;
    vertical-align: top;

    &#edit-expand {
      width: 100%;
    }
  }

  .form-checkbox, .form-radio {
    line-height: rem-calc(20);
    margin-top: 1px;
  }

  .form-type-textfield {
    border: solid 1px $grey-border;
  }

  .form-type-select {
    background-color: transparent;
    padding: 0;
  }

  .sprog {
    .column {
      float: left;
    }
  }
  .udgivelsesar {
    .form-item {
      border: solid 1px $grey-border;

      &:first-of-type {
        border-right: none;
      }

      &:last-of-type {
        border-left: none;
      }
    }
    .form-type-select {
      display: table-cell;
    }
  }

  .fieldset-wrapper {
    text-align: left;
  }

  .fieldset-legend {
    font-size: rem-calc(16px);
    padding: 0;
    float: left;
    margin-right: 5px;
    font-size: 0.8em;
  }

  .fieldset-description {
    white-space: nowrap;
    display: inline-block;
  }

  .custom-search--helptext-container {
    text-align: left;
    margin-bottom: 5px;
  }

  .popover {
    left: inherit;
    text-align: left;
    .user-msg {
      min-height: 1.5em;
    }
  }

  //====================
  // SUBGROUPS
  //-------------------
  .toggle-subgroup {
    @include inline-block(top);
    width: 15px;
    color: transparent;
    background: url(../../img/svg/blue-plus-circle.svg) no-repeat;
    background-size: 15px;
    border: none;
    display: block;
    float: left;
    position: relative;
    margin-right: 5px;
  }
  .toggle-subgroup.toggled {
    background: url(../../img/svg/blue-minus-circle.svg) no-repeat;
    background-size: 15px;
  }

  .sub-elements {
    display: block;
    margin-left: 24px;
    width: 100%;
  }

  //====================
  // LABELS
  //--------------------
  label {
    margin: 0;
    padding: 4px 0 0 0;
    font-weight: normal;
    color: $grey-bg--tabs;
    font-size: rem-calc(14);
  }

  .bibdk-custom-search-element {

    label {
      float: left;
      line-height: 15px;
      color: $black;
      margin: 0;
      padding: 0;
    }

    .form-type-checkbox {
      padding: 0;
      margin: 0 0 0.7rem 0;
    }
  }
}

//========================================
// SEARCHPAGES: ALLE MATERIALER
//----------------------------------------
.allematerialer {
  #search-advanced-panel {
    .sprog {
      .column {
        width: 33%;
      }
    }
  }
}

//========================================
// SEARCHPAGES: BOOKS
//----------------------------------------
.boeger {
  width: 100%;
  #search-advanced-panel {
    .materialetype {
      width: 16%;
    }
    .litterar_form {
      width: 18%;
    }
    .malgruppe {
      width: 14%;
    }
    .sprog {
      width: 26%;
      .column {
        width: 50%;
      }
    }
    .udgivelsesar {
      width: 22%;
    }
  }
}

//========================================
// SEARCHPAGES: ARTIKLER
//----------------------------------------
.artikler {
  width: 100%;

  #search-advanced-panel {
    fieldset {
      width: 49%;
    }
    .sprog,
    .materialetype,
    .udgivelsesar {
      width: 33%;
      .column {
        width: 40%;
      }
    }
  }
}

//========================================
// SEARCHPAGES: FILM
//----------------------------------------
.film {
  width: 100%;
  #search-advanced-panel {
    fieldset {
      width: 49%;
    }
    .genre_type {
      width: 100%;
      .column {
        width: 20%;
      }
    }
    .nationalitet {
      width: 100%;
      .column {
        width: 24%;
      }
      .column3 {
        width: 28%;
      }
    }
    .materialetype {
      width: 20%;
    }
    .aldersanbefaling,
    .tilladt_for {
      width: 33%;
    }
  }
}

//========================================
// SEARCHPAGES: EMATERIALER
//----------------------------------------
.ematerialer {
  width: 100%;
  #search-advanced-panel {
    .materialetype {
      width: 25%;
    }
    .sprog {
      width: 15%;
    }
  }
}

//========================================
// SEARCHPAGES: SPIL
//----------------------------------------
.spil {
  width: 100%;
  #search-advanced-panel {
    .platform,
    .spilgenre_type {
      .column {
        width: 50%;
      }
    }

    .spilgenre_type {
      width: 66%;
      .column {
        width: 33%;
      }
    }
  }
}

//========================================
// SEARCHPAGES: MUSIK
//----------------------------------------
.musik {
  width: 100%;
  #search-advanced-panel {
    .musikgenre {
      width: 100%;
      .column {
        width: 25%;
      }
    }
  }
}

//========================================
// SEARCHPAGES: NODER
//----------------------------------------
.noder {
  width: 100%;
  #search-advanced-panel {
    .materiale {
      width: 100%;
    }
    .column {
      width: 20%;
      float: left;
      min-width: 195px;
    }
    .column1 {
      width: 22%;
      min-width: 220px;
    }
    .column2 {
      width: 30%;
      min-width: 290px;
    }
  }
}

//========================================
// EXTENDED OPTIONS SELECT LIST
//----------------------------------------
.custom-search-options-list {
  background-color: $grey-bg--page;
  height: 440px;

  .panel-select {
    @extend .two-panel-multi-select;
    padding-top: 10px;

    .form-type-select {
      height: 350px;
      background: transparent;
      margin: 0;

      &:last-of-type {
        float: right;
      }
    }

    .list-actions {
      margin: 50px auto 0 auto;
      width: 15%;

      .custom-search-list-action {
        margin: 0 auto;
      }
    }
  }
  .custom-search-list-save, .custom-search-list-close {
    margin: 20px;
    width: auto;
    float: right;
  }
}

#bibdk-modal-form input[type="submit"] {
  &.custom-search-list-close {
    margin-right: 30px;
  }
}

#popup .fieldset-legend {
   font-size: 0.8rem;
}
