.bibdk-custom-header-block{
  padding: 10px 5px 10px 5px;
  background-color: $grey-bg--section;;
  margin-top: 5px;

  h1 {
    float:left;
    width:30%;
  }
  .bibdk-custom-header-link{
    float:right;
    padding:0;
  }
}

