// =============================================================================
// Facet browser
// =============================================================================

.page-search-work {
  .large-6.columns {
    padding-right: 1px;
  }
  .large-18.columns {
    padding-left: 1px;
  }
}

.lift-columns .panel-left {
  border: 1px solid $grey-border;
  // @include rem('margin-top', -11px);
  background-color: $grey-bg--section;
  .pane-content {
    @include rem('margin', 0px 10px 10px 10px);
  }
}

.pane-bibdk-facetbrowser {

  .pane-title {
    text-align: center;  
    font-size: rem-calc(12px);
    font-weight: bold;
    color: $white;
    background-color: $black--natural;;
    height: rem-calc(41px);
    line-height: rem-calc(41px);
  }
  
  #facetbrowser-icon-container {
    margin: 0;
    text-align: center;
    border-bottom-width: 0px;
    .svg-icon {
      display: inline-block;
      height: 12px;
      vertical-align: top;
      width: 25px;
    }
  }

  .form-wrapper {
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-border;

    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }

  legend {
    padding: 0;
    @include rem('margin-bottom', 5px);
  }

  .fieldset-legend {
    padding: 0;
  }

  .expand {
    @include rem('margin-top', 5px);
    cursor: pointer;
  }

  .select {
    cursor: pointer;
  }

  label {
    @include typo("label", "facets", "grey-dark");
  }
  
  #deselected-terms {
    label {
      text-decoration: line-through;
      text-decoration-color: $warning;
    }
  }

  .form-item {
    margin: 0;
    padding: 0;
    float: none;

    a {
      color: $black--natural;
    }

  }

}
