// =============================================================================
// Facet browser
// =============================================================================

.lift-columns .panel-left {
  border: $border-default;
  border-top: none;
  @include rem('padding', 11px 10px 10px 10px);
  @include rem('margin-top', -11px);
  background-color: $grey-7;
}

.pane-ting-openformat-search-text {
  border: $border-default;
  @include border-radius($border-radius);
  @include rem('height', 30px);
  @include rem('line-height', 30px);
  background-color: $white;
  text-align: center;
  @include rem('font-size', 16px);
  font-weight: bold;
  color: $grey-3;
  @include rem('margin-bottom', 10px);
}

.pane-bibdk-facetbrowser {

  .pane-title {
    @include rem('font-size', 20px);
    @include rem('margin-bottom', 15px);
  }

  .form-wrapper {
    @include rem('padding', 0 0 10px 0);
    @include rem('margin-bottom', 10px);
    border-bottom: $border-default;

    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }

  legend {
    padding: 0;
    @include rem('margin-bottom', 5px);
  }

  .fieldset-legend {
    padding: 0;
  }

  .expand {
    @include rem('margin-top', 5px);
    cursor: pointer;
  }

  .select {
    cursor: pointer;
  }

  label {
    @include rem('font-size', 12px);
  }
  
  #deselected-terms {
    label {
      text-decoration: line-through;
      text-decoration-color: $warning;
    }
  }

  .form-item {
    margin: 0;
    padding: 0;
    float: none;

    a {
      color: $grey-3;
    }

  }

}
