// =============================================================================
// Facet browser
// =============================================================================

.lift-columns .panel-left {
  border: 1px solid $grey-border;
  @include rem('padding', 11px 10px 10px 10px);
  @include rem('margin-top', -11px);
  background-color: $grey-bg--section;
}

.pane-ting-openformat-search-text {
  border: 1px solid $grey-border;
  height: rem-calc(30px);
  line-height: rem-calc(30px);
  background-color: $white;
  text-align: center;
  font-size: rem-calc(16px);
  font-weight: bold;
  color: $black--natural;
  margin-bottom: 10px;
}

.pane-bibdk-facetbrowser {
  .pane-title {
    font-size: rem-calc(12px);
    margin-bottom: rem-calc(15px);
  }

  .form-wrapper {
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-border;

    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }

  legend {
    padding: 0;
    @include rem('margin-bottom', 5px);
  }

  .fieldset-legend {
    padding: 0;
  }

  .expand {
    @include rem('margin-top', 5px);
    cursor: pointer;
  }

  .select {
    cursor: pointer;
  }

  label {
    @include typo("label", "facets", "grey-dark");
  }
  
  #deselected-terms {
    label {
      text-decoration: line-through;
      text-decoration-color: $warning;
    }
  }

  .form-item {
    margin: 0;
    padding: 0;
    float: none;

    a {
      color: $black--natural;
    }

  }

}
