.bibdk-gdpr-modal-content {
  .see-more {
    text-decoration: underline;
    cursor: pointer;
  }

  .consent-message {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    display: none;
    h2 {
      font-size: 140%;
      font-weight: bold;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 120%;
      font-weight: bold;
      margin: 10px 0;
    }
  }

  .form-type-checkbox {
    margin: 0 10px 10px;
    &.error {
      border: 1px solid $red;
    }

  }

  button {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

#bibdk-modal-form .user-register-form, .user-register-form, .gdpr-consent-wrapper {
  .see-more {
    text-decoration: underline;
    cursor: pointer;
  }

  .consent-message {
    border: 1px solid black;
    padding: 10px;
    display: none;
    h2 {
      font-size: 140%;
      font-weight: bold;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 120%;
      font-weight: bold;
      margin: 10px 0;
    }
  }
}

.bibdk-modal-content .user-register-form {
  .consent-message {
    margin: 0 20px;
  }
}
