// =============================================================================
// Page title
// =============================================================================

#title {
  padding: rem-calc($spacing 0 0 $spacing);
  margin-bottom: $spacing;

  @media #{$large-up}{
    padding-left: 0;
  }
}
