
// =============================================================================
// Work
// =============================================================================

//
// Order any edition button
//
.order-any-btn {
  @include bibdk-triangle(top, $white, 50%, 1rem);
  padding-right: 40px;
  &.toggled:after {
    @include apply-origin(50% 25%, false);
    @include rotate(180deg);
  }
}


.order-any-btn-list {
  width: 315px;
  right: -17px;
  background-color: $grey-bg--page;
  .add-item-to-cart {
  }

  a.infotext-order-any-edition-link {
    padding: 0px;
    color: $blue;
  }

  a.bibdk-popup-order-work:hover {
    color: $black;
    background-color: $grey-bg--section;
  }

  span.mat-type {
    color: $black--natural;
  }

  .svg-media-article {
    @include svg("svg-media-article", "black");
  }

  .svg-media-audiobook {
    @include svg("svg-media-audiobook", $black--natural);
  }

  .svg-media-book {
    @include svg("svg-media-book", $black--natural);
  }

  .svg-media-emat {
    @include svg("svg-media-emat", $black--natural);
  }

  .svg-media-game {
    @include svg("svg-media-game", $black--natural);
  }

  .svg-media-movie {
    @include svg("svg-media-movie", $black--natural);
  }

  .svg-media-music {
    @include svg("svg-media-music", $black--natural);
  }

  .svg-media-sheetmusic {
    @include svg("svg-media-sheetmusic", $black--natural);
  }

  table {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;

    th {
      text-align:center;
      padding-left: 10px;
    }

    tr  {
      text-align:center;
      td {
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        vertical-align: middle;
        white-space: nowrap;
        padding: 4px 0;
        font-weight: bold;
        &:first-child {
          text-align: left;
          padding-right: 5px;
        }
        &:last-child {
          text-align: left;
          padding-left: 5px;
        }
      }
    }
  }
}

.reservation-btn-infotext {
  font-size: 11px;
  padding: 2px 15px;
}

