// =============================================================================
// RS Carousel
// =============================================================================

.rs-carousel {
  display: none;

  @media #{$large-up} {
    display: block;
  }

  position: relative;

  .ajax-loader {
    background: transparent url('../img/in_use/ajax-loader.gif') no-repeat 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.rs-carousel-mask {
  margin-left: -0.1px; //Safari 8.x specific hack
}

.rs-carousel-mask,
.rs-carousel-runner {
  position: relative;
  overflow: hidden;
}

.rs-carousel-inner {
  position: relative;
  min-height: (($row-width - $column-gutter) / $carousel-items) * 1.8;
  background-color: $white;
  border: 1px solid $grey-border;
  border-top: none;
  padding: rem-calc(10 20);
}

// =============================================================================
// Carousel header (title and dropdown)
// =============================================================================

.rs-carousel-header {
  @extend .clearfix;
  height: rem-calc(70);
  background-color: $grey-bg--section;
  border: 1px solid $grey-border;
}

.rs-carousel-header-title {
  float: left;
  padding: rem-calc(20);
  @include typo("title", "section", "black");

  width: 400px;
  overflow: hidden;
  height: 50px;

  @media #{$xlarge-up} {
    width: auto;
    overflow: auto;
    height: auto;
  }
}

.rs-carousel-header-select {
  float: right;
  position: relative;
  margin: rem-calc(20 20 0 0);

  .dropdown-toggle {
    background-color: $white;
    display: block;
    position: relative;
    @include box-sizing(border-box);
    @include rem('height', 32px);
    @include rem('line-height', 30px);
    border: solid 1px $grey-border;
    @include rem('padding', 0 35px 0 10px);
    font-weight: bold;

    &:after {
      content: "";
      display: block;
      @include add-sprite("angle--down--blue");
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &.toggled {

      &:after {
        @include add-sprite("angle--up--blue");
      }
    }
  }

  .dropdown-menu {
    min-width: 0;
    top: 100%;

    li {
      white-space: nowap;
    }
  }
}

// =============================================================================
// Pagination and Prev/Next buttons
// =============================================================================

.rs-carousel-pagination {
  display: none;
}

.rs-carousel-action-prev,
.rs-carousel-action-next {
  @extend .hide-text;
  position: absolute;
  top: 0;
  bottom: 40px;
  display: block;
  width: 54px;

  &.rs-carousel-action-disabled {
    opacity: 0.3;
    cursor: default;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.rs-carousel-action-prev {
  left: -34px;
  &:after {
    @include add-sprite("carousel-arrow--left");
  }
}

.rs-carousel-action-next {
  right: -34px;
  &:after {
    @include add-sprite("carousel-arrow--right");
  }
}

// =============================================================================
// Single carousel item
// =============================================================================

.rs-carousel-item {
  width: ($row-width - $column-gutter) / $carousel-items;
  float: left;
  @include box-sizing(border-box);
  @include rem('padding-left', 5px);
  @include rem('padding-right', 5px);
}

.rs-carousel-item-image {
  @include rem('margin-bottom', 10px);

  img {
    width: 100%;
  }
}

.rs-carousel-item-title {
  text-align: center;
  line-height: 1.2;
  @include rem('margin-bottom', 5px);

  a {
    color: $grey-1;
    font-weight: bold;
  }
}

.rs-carousel-item-creator {
  text-align: center;
  line-height: 1.2;

  a {
    color: $grey-3;
  }
}



