.searchhistory-cql {
  color:  $blue;
  &:hover,
  &:focus,
  &:active {
    color: $blue--hover;
  }
}

.searchhistory-searchstring {
  table & {
    min-width: 400px;
  }
  &:hover span,
  &:focus span,
  &:active span {
    color: $blue--hover;
  }
}
