// =============================================================================
// Search block form
// =============================================================================

#search-block-primary {
  margin-top: 15px;

  .form-actions {
    padding: 0;
  }

  input[type="submit"] {
    position: absolute;
    top: 25px;
    left: 615px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: rem-calc(18px);
  }
}

.form-item-search-block-form {
  border: solid 1px $grey-border;
  width: 700px;

  input[type="text"] {
    width: 88%;
    height: 40px;
    padding: 0 0 0 10px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: rem-calc(20px);
    color: #a8aaab;
    &:focus {
      color: $black;
    }
  }
}

// =============================================================================
// Search panel
// =============================================================================
#edit-advanced {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#custom-search--advanced-toggle {
  position: absolute;
  top: 35px;
  left: 810px;
}

.custom-search--advanced-toggle-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.custom-search--advanced-toggle-text {
  vertical-align: middle;
}


// =============================================================================
// Search tabs
// =============================================================================
#custom-search--navigation {
  height: 60px;
  background-color: #262a2c;
}

#search-tabs {
  margin-top: 20px;

  a {
    border-right: solid 1px #262a2c;
    @extend .link-as-box;
    font-weight: normal;
    font-size: 12px;
    background: $grey-bg--tabs;
    color: $white;
    height: 40px;
    line-height: 40px;
    padding: 0 23px;

    @media #{$xlarge-up} {
      padding: 0 35px;
    }

    &.active {
      border-right: none;
      font-weight: bold;
      color: $black;
      background: $grey-bg--page;
    }
    &:hover {
      color: $black;
      background: $grey-bg--section;
    }
  }
}
