// @todo remove on merge
#columns {
  background-color: #e8e8e8;
}

// =============================================================================
// Work
// =============================================================================
.work {
  background-color: white;
  margin: 2px 0;

}

// Work header
.work-header {
  padding: 10px;
  &:hover {
    @include single-transition();
    background-color: $grey-bg--section;
    cursor: pointer;
  }
  .work-title {
    margin-bottom: rem-calc(10px);
    @media #{$large-up} {
      margin-bottom: 0px;
      float: left;
      max-width: 60%;
    }
    h2:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    h2 {
      @include typo('title', 'normal', 'black');
    }
    h3, .title-meta {
      @include typo('title', 'small', 'grey-dark');
      font-weight : normal;
    }
  }
  svg {
    fill: $grey-text--dark;
  }
  .work-types-actions {
    @media #{$large-up} {
      float: right;
    }
  }

  .work-types {
    float: left;
    margin-right: rem-calc(10px);
  }

  .work-actions {
    float: right;
  }

  &.work-section {
    .page-work & {
      // parent element selector
      padding-bottom: rem-calc(10px);
      margin-bottom: rem-calc(10px);
    }
  }
}

.work-body {
  padding: rem-calc(10px);
  width: 100%;
}

.work-cover {
  margin-left: rem-calc(10px);
  margin-bottom: rem-calc(10px);
  img {
    width: 100%;
  }
}

.work-fields {
  margin-bottom: rem-calc(10px);
}

// List of types in work view
.material-types-list {
  li {
    float: left;
    line-height: rem-calc(40px);
  }
}

// =============================================================================
// Work Toggle function
// =============================================================================
// Control visibility for toggle elements on work (collection)

.work-hidden {
  display: none;
}

@media #{$medium-up} {
  .work.is-toggled {
    margin-bottom: 1rem;
    .work-toggle-text {
      display: none;
    }
    .work-hidden {
      display: inline-block;
    }
  }
}

@media #{$small-only} {
  .mobile-page-wrapper .work-hidden {
    display: inline-block;
  }
}

.toggle-hide {
  display: none;
}
.ting-openformat-toggle-link.is-toggled{
  .toggle-text {
    display: none;
  }
  .toggle-hide {
    display: inline-block;
  }
}


// =============================================================================
// Subwork
// =============================================================================
.subwork{
  padding: 0.5rem 1rem;
}

// =============================================================================
// Manifestation
// =============================================================================
.manifestation {
  padding: 1rem;
  border-top: 1px solid $grey-border;
  .btn {
    width: 100%;
    text-align: center;
  }
}

// =============================================================================
// Manifestation data (Field information)
// =============================================================================
.manifestation-data {
  //padding-bottom : 1rem;
  //display: table;
  .field {
    display: table-row;
  }
  .field.field-label-hidden {
    display: block;
  }
  .field-label, .field-items {
    display: table-cell;
  }
  .field-label {
    padding-right: 2em;
    max-width: 120px;
  }

  // Add a distinction color to specific fields
  .field-name-bibdk-mani-distinction .field-item,
  .field-name-bibdk-mani-access-information .field-item,
  .field-name-bibdk-mani-marked-audience .field-item,
  .field-name-bibdk-mani-recommended-audience .field-item {
    display: inline;
    background-color: $yellow-light;
  }
}

.manifestation-toggle {
  padding: 1rem;
  border-top: 1px solid $grey-border;
}

  .manifestation-toggle-link {
  .toggle-link-icon {
    margin-right: 5px;
    @include css-triangle(5px, $blue, top);
    vertical-align: text-bottom;
    display: inline-block;
  }
  &.is-toggled .toggle-link-icon {
    @include css-triangle(5px, $blue, bottom);
    vertical-align: text-top;
    display: inline-block;
  }
}

.manifestation {
  display: none;
  &:first-child {
    display: block;
  }
}

.manifestations.is-toggled {
  .manifestation {
    display: block;
  }

}

.primary-actions, .secondary-actions {
  .icon {
    display: none;
  }
  a {
    display: block;
  }
}

//
// Order any edition button
//
.order-any-btn-list {
  right: 0;
  width: 300px;

  h3 {
    color: $blue;
    font-size: 1em;
    padding: 0 5px 0 10px;
    text-align: left;
    .icon {
      height: 15px;
      padding-top: 8px;
    }
  }

  a {
    padding: 5px 0px;
    color: white;
    &.btn-blue {
      @extend .btn-blue;
    }
    &.btn-grey {
      @extend .btn-grey;
    }
  }

  a.infotext-order-any-edition-link {
    padding: 0px;
    color: $blue;
  }

  table {
    border-collapse: separate;
    border-spacing: 2px 2px;

    th {
      text-align: center;
      padding-left: 10px;
    }

    tr {
      text-align: center;

      td {
        vertical-align: middle;
        &:first-child {
          font-weight: bold;
        }
      }

      &.odd {
        background-color: $zebra-odd;
      }
      &.even {
        background-color: $zebra-even;
      }
    }
  }
}

.reservation-btn-infotext {
  font-size: 11px;
  padding: 2px 4px;
}

