// =============================================================================
// Search block form
// =============================================================================

#search-block-primary {
  margin-top: 15px;

  padding: 0 20px;
  @media #{$large-up} {
    padding: 0;
  }

  .form-actions {
    padding: 0;
  }

  input[type="submit"] {
    position: absolute;
    right: 0;
    top: 81px;
    margin: 0 20px 0 0;
    height: 55px;
    font-size: 20px;
    font-weight: normal;
    width: 37%;

    @media #{$large-up} {
      right: 26.5%;
      top: 26px;
      margin: 0;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      font-size: rem-calc(18px);
      padding: 0 30px;
      width: auto;
    }

    @media #{$xlarge-up}{
      right: 21.5%;
      padding: 0 50px;
    }
  }
}

.form-item-search-block-form {
  border: solid 1px $grey-border;
  float: left;
  width: 100%;

  @media #{$large-up}{
    width: 75%;
  }

  @media #{$xlarge-up}{
    width: 80%;
  }

  input[type="text"] {
    height: 40px;
    padding: 0 0 0 10px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: rem-calc(20px);
    color: #a8aaab;
    width: 100%;
    &:focus {
      color: $black;
    }

    @media #{$large-up}{
      width: 78%;
    }
  }
}

.form-item-select-material-type {
  @extend .hide-for-large-up;
  width: 60%;
  background: $grey-bg--page;
  padding-left: 0;

  select {
    padding: 15px 20px;
    font-size: rem-calc(16);
    color: $black--natural;
    border: 1px solid $grey-border;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $white url('../../img/svg/arrow-down.svg') 95% no-repeat;
  }
}

// =============================================================================
// Search panel
// =============================================================================
#edit-advanced {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#custom-search--advanced-toggle {
  position: absolute;
  right: 0;
  margin-right: 5px;
  top: 38px;

  @media #{$xlarge-up}{
    margin-right: 10px;
  }
}

.custom-search--advanced-toggle-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.custom-search--advanced-toggle-text {
  font-weight: bold;
  vertical-align: middle;
}

// =============================================================================
// Search tabs
// =============================================================================
#custom-search--navigation {
  height: 60px;
  background-color: #262a2c;
}

#search-tabs {
  margin-top: 20px;

  li {
    @media #{$xlarge-up}{
      width: 12.5%;
    }
  }

  a {
    border-right: solid 1px #262a2c;
    @extend .link-as-box;
    font-weight: normal;
    font-size: 12px;
    background: $grey-bg--tabs;
    color: $white;
    height: 40px;
    line-height: 40px;
    padding: 0 22px;

    @media #{$xlarge-up}{
      padding: 0;
      text-align: center;
    }

    &.active {
      border-right: none;
      font-weight: bold;
      color: $black;
      background: $grey-bg--page;
    }
    &:hover {
      color: $black;
      background: $grey-bg--section;
    }
  }
}
