// block below h1 on frontpage. Contains search form.
#search-block-primary {
/*
  @media #{$small-only} {
    margin: .5rem;
  }

  @media #{$medium-only} {
    margin: .5rem;
  }
*/
  // Search input field.
  .form-item-search-block-form {
    float: left;
    width: 100%;
    padding: 0;

    @media #{$large-up} {
      border: solid 1px $blue;
      padding: 0;
      margin: 0 0 1rem 4rem;
      width:75%;
    }

    input[type="text"] {
      height: 3.25rem;
      padding: 0 0 0 1rem;
      font-family: ArialMT, sans-serif;
      font-weight: normal;
      font-size: 1.2rem;
      color: $black--natural;
      width: 100%;
      &:focus {
        color: $black;
      }
    }
  }

  // Material type select.
  .form-item-select-material-type {
    width: 77%;
    height: 3rem;
    display: inline-block !important;
    padding: 0;
    float:left;
    margin-right: 1%;

    @media #{$large-up} {
      display: none !important;
    }

    select {
      font-size: 1.2rem;
      color: $black--natural;
      border: none;
      @include appearance(none);
      background: $white url('../../img/svg/arrow-down.svg') 95% no-repeat;
      background-size: 0.9375rem;
      padding: .625rem 0 .625rem 1rem;
    }
  }

  // Submit button.
  .form-actions {
    padding: 0;
    float:left;
    width: 22%;
    @media #{$large-up} {
      margin: 0;
      height: 3.35rem;
      font-size: 1.125rem;
      width: auto;
      float: left;
    }

    input[type="submit"] {
      margin: 0;
      height: 3rem;
      @media #{$large-up} {
        height: 3.38rem;
      }
      font-size: 1.2rem;
      font-weight: normal;
      width: 100%;
    }
  }
}

// =============================================================================
// Search tabs
// =============================================================================
#custom-search--navigation {

  #search-tabs {
    @extend .hide-for-medium-down;
    margin: 1.1rem 0;

    .nav--horizontal {

      margin-left:4rem;

      li {

        @media #{$xlarge-up} {
          width: 12%;
        }

        a {
          @extend .link-as-box;
          font-family: Arial-BoldMT, sans-serif;
          font-weight: bold;
          font-size: 0.75rem;
          color: $black;
          height: 2.5rem;
          line-height: 2.5rem;
          padding: 0 1.375rem;

          @media #{$xlarge-up} {
            padding: 0;
            text-align: center;
          }

          &.active {
            border-bottom: 0.1875rem solid $blue;
            color: $black;
          }
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

// =============================================================================
// Search panel
// ============================================================================
#edit-advanced {
  padding-top: 1.25rem;
  margin: 0 4rem 2rem;

  @media #{$small-only} {
    display: none;
  }
  @media #{$medium-only} {
    display: none;
  }
}

#custom-search--advanced-toggle {
/*
  position: absolute;
  right: 0;
  margin-right: 0.3125rem;
  top: 2.375rem;*/

  @media #{$xlarge-up} {
    //margin-right: 0.625rem;
  }
}

.custom-search--advanced-toggle-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.3125rem;
  vertical-align: middle;
}

.custom-search--advanced-toggle-text {
  font-weight: bold;
  vertical-align: middle;
}
