// =============================================================================
// Responsive Subject hierarchy
// =============================================================================

#bibdk-subject-hierarchy {

  outline: 1px solid red;
  .subject-item {
    width: 100%;
  }

  @media #{$small-up} {
  outline: 1px solid blue;
  }

  @media #{$medium-up} {
    outline: 1px solid green;
    .subject-item {
      width: 50%;
    }
  }

  @media #{$large-up} {
    outline: 1px solid purple;
    .subject-item {
      width: 25%;
    }
  }

}

// =============================================================================
// Bibliotek.dk Subject hierarchy header
// =============================================================================

.bibdk-subject-hierarchy-header {
  @extend .clearfix;
  height: rem-calc(70);
  background-color: $grey-bg--section;
  border: 1px solid $grey-border;
}

.bibdk-subject-hierarchy-header-title {
  float: left;
  padding: rem-calc(20);
  @include typo("title", "section", "black");
  width: 400px;
  overflow: hidden;
  height: 50px;

  @media #{$xlarge-up} {
    width: auto;
    overflow: auto;
    height: auto;
  }
}

.bibdk-subject-hierarchy-header-helptext {
  display: none;

  .bibdk-subject-hierarchy-helptext {
    float: left;
  }

  .icon-blue-x {
    background-image: url("../img/in_use/icons/blue-x.png");
  }
  
}

.subject-hierarchy-searchfield {
  display: none;
}


// =============================================================================
// Bibliotek.dk Subject inner
// =============================================================================

.bibdk-subject-hierarchy-inner {
  position: relative;
  background-color: $white;
  border: 1px solid $grey-border;
  border-top: none;
  padding: rem-calc(20 20 10 20);
}


// =============================================================================
// Subjects
// =============================================================================

subjects-row {
}

.subject-item:nth-child(3) {
  // clear: left;
}

.subject-item {
  float: left;
  width: 25%;
  overflow: hidden;
  p {
    margin: 0;
    height: 85px;
    position: relative;
  }
  .header {
    display: block;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  .note {
    display: block;
    padding-bottom: 20px;
    padding-right: 20px;
    a {
      color: $black--natural;
      font-size: 0.9em;
    }
  }
}

.subject-item--active > p:after {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  @include css-triangle(8px, $blue-lighter, bottom);
}


// =============================================================================
// Subject sublists
// =============================================================================

// Container of the sublists
.subjects-sublist-wrapper {
  float: left;
  width: 100%;
  display: none;
}

.subjects-sublists {
  position: relative; // for close button to be positioned absolute
  padding: 15px;
  border: solid 5px $blue-lighter;
  background-color: $white;
  margin-bottom: 30px;
}

// Header
.subjects-sublists-heading {
  font-size: 18px;
  margin-bottom:10px;
}

// Close button
.subjects-close-button {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
 .svg-close {
    @include svg("svg-close", $black--natural);
  }
}

// Breadcrumb
.subjects-breadcrumb {
  margin-bottom: 10px;

  a, div.container-last {
    @include inline-block();
    font-size: 14px;
    margin-right: 3px;

    &:after {
      content: " \203A  ";
    }
  }

  a:last-child, div.container-last {
    &:after {
      content: "";
    }
  }
  
  div.container-last {
    line-height: inherit;
  }
  
}

// Each sublist
.subjects-sublist {
  li {
    @include inline-block(top);
    width: 25%;
    margin-right: -4px;
    margin-bottom: 5px;
  }

  a {
    display: block;
    padding-right: 20px;

    &.nesting:after {
      content: '';
      @include add-sprite('plus--small--blue');
      position: relative;
      left: 0.5em;
      display: inline-block;
    }
  }
}


// =============================================================================
// Subject search
// =============================================================================

.bibdk-subject-hierarchy-searchresult {
  .header {
    padding-bottom: 20px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .themes__breadcrumb {
    margin-bottom: 0;
    a {
      color: $grey-2;
    }
    a:last-child {
      font-weight: normal;
    }
  }
  .item-list {
    margin-bottom: 20px;
  }

  .subject-hierarchy-suggestion-form {
    margin-top: 10px;
    padding-top: 10px;

    .header {
      padding: 0;
    }
    .form-wrapper {
      border-bottom: 0px;
    }
    .form-wrapper.fieldset-hierarchy-suggestion,
    .form-wrapper.captcha {
      float: left;
    }
    .form-item {
      padding: 10px 0;
      float: left;
    }
    .searchfield-input {
      line-height: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .searchfield-submit {
      margin: 10px 0;
    }
    .ajax-progress .message {
      display: none;
    }

  }

  .subject-hierarchy-suggestion-form.send-suggestion {
    border-top: 1px solid $blue-lighter;
  }

}

#bibdk-subject-hierarchy-searchfield-form {

  float: right;

  .form-item {
    float: left;
    padding: 0;
  }

  .searchfield-input {
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .ajax-progress .message {
    display: none;
  }

}

