// =============================================================================
// Responsive Subject hierarchy
// =============================================================================

#bibdk-subject-hierarchy {

  display: none;
  outline: 1px solid red;

  .subject-item {
    width: 50%;
    p {
      height: 98px;
    }
  }
  .subjects-sublist li {
    width: 100%;
  }

  @media #{$medium-up} {
    display: block;
    outline: 1px solid green;
  }

  @media #{$large-up} {
    outline: 1px solid purple;

    .bibdk-subject-hierarchy-header-title {
      width: 50%;
      float: left;
    }

    .subject-hierarchy-searchfield {
      padding: rem-calc(24);
      width: 50%;
      float: right;
      text-align: right;
    }

    .subject-item {
      width: 25%;
      p {
        height: 87px;
      }
    }

    .subjects-sublist li {
      width: 25%;
    }

  }

}

// =============================================================================
// Bibliotek.dk Subject hierarchy header
// =============================================================================

.bibdk-subject-hierarchy-header {
  @extend .clearfix;
  // height: rem-calc(70);
  background-color: $grey-bg--section;
  border: 1px solid $grey-border;
}

.bibdk-subject-hierarchy-header-title {
  padding: rem-calc(20);
  @include typo("title", "section", "black");
  overflow: hidden;
  height: 50px;

  @media #{$xlarge-up} {
    width: auto;
    overflow: auto;
    height: auto;
  }
}

.bibdk-subject-hierarchy-header-helptext {
  display: none;
  .bibdk-subject-hierarchy-helptext {
    float: left;
  }
  .icon-blue-x {
    background-image: url("../img/in_use/icons/blue-x.png");
  }
 
}

.subject-hierarchy-searchfield {
  padding: rem-calc(20);
 .svg-magnifier {
    @include svg("svg-magnifier", $black--natural);
  }
 .icon {
    width: 20px;
    height: 20px;
  }
  a {
    color: $black--natural;
    font-size: 1.1em;
    font-weight: bold;
  }
}

#bibdk-subject-hierarchy-searchfield-form {
  .form-item-search-hierarchy-input {
    width: 75%;
    float: left;
    padding: 0 1em 0 0;
  }
  .searchfield-input {
    line-height: 30px;
    height: 30px;
    border: 1px solid $grey-border;
  }
  .searchfield-submit {
    width: 25%;
  }
  .ajax-progress {
    display: none;
  }
}


// =============================================================================
// Bibliotek.dk Subject content
// =============================================================================

#bibdk-subject-hierarchy-content,
#bibdk-subject-hierarchy-searchresult {
  position: relative;
  background-color: $white;
  border: 1px solid $grey-border;
  border-top: none;
  padding: rem-calc(20 20 10 20);
}


// =============================================================================
// Subjects
// =============================================================================

subjects-row {
}

.subject-item:nth-child(3) {
  // clear: left;
}

.subject-item {
  float: left;
  overflow: hidden;
  p {
    margin: 0;
    height: 87px;
    position: relative;
  }
  .header {
    display: block;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  .note {
    display: block;
    padding-bottom: 20px;
    padding-right: 20px;
    a {
      color: $black--natural;
      font-size: 0.9em;
    }
  }
}

.subject-item--active > p:after {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  @include css-triangle(8px, $blue-lighter, bottom);
}


// =============================================================================
// Subject sublists
// =============================================================================

// Container of the sublists
.subjects-sublist-wrapper {
  float: left;
  width: 100%;
  display: none;
}

.subjects-sublists {
  position: relative; // for close button to be positioned absolute
  padding: 15px;
  border: solid 5px $blue-lighter;
  background-color: $white;
  margin-bottom: 30px;
}

// Header
.subjects-sublists-heading {
  font-size: 18px;
  margin-bottom:10px;
}

// Close button
.subjects-close-button {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
 .svg-close {
    @include svg("svg-close", $black--natural);
  }
}

// Breadcrumb
.subjects-breadcrumb {
  margin-bottom: 10px;
  margin-right: 26px;

  a, div.container-last {
    @include inline-block();
    font-size: 14px;
    margin-right: 3px;

    &:after {
      content: " \203A  ";
    }
  }

  a:last-child, div.container-last {
    &:after {
      content: "";
    }
  }
  
  div.container-last {
    line-height: inherit;
  }
  
}

// Each sublist
.subjects-sublist {
  ul {
    font-size: 0.85rem;
  }
  li {
    @include inline-block(top);
    width: 25%;
    margin-right: -4px;
    margin-bottom: 5px;
  }

  a {
    display: block;
    padding-right: 20px;

    &.nesting:after {
      content: '';
      @include add-sprite('plus--small--blue');
      position: relative;
      left: 0.5em;
      display: inline-block;
    }
  }
}


// =============================================================================
// Subject search
// =============================================================================

#bibdk-subject-hierarchy-searchresult {
  
  display: none;
  
  .header {
    padding-bottom: 20px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .themes__breadcrumb {
    margin-bottom: 0;
    a {
      color: $grey-2;
    }
    a:last-child {
      font-weight: normal;
    }
  }

  .item-list {
    margin-bottom: 20px;
  }

  // Close button
  .subjects-close-button {
    top: 21px;
    right: 21px;
  }

  .subject-hierarchy-suggestion-form {
    margin-top: 10px;
    padding-top: 10px;

    .header {
      padding: 0;
    }
    .form-wrapper {
      border-bottom: 0px;
    }
    .form-wrapper.fieldset-hierarchy-suggestion,
    .form-wrapper.captcha {
      float: left;
    }
    .form-item {
      padding: 10px 0;
      float: left;
    }
    .searchfield-input {
      line-height: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .searchfield-submit {
      margin: 10px 0;
    }
    .ajax-progress .message {
      display: none;
    }
    .search-hierarchy-suggestion-input {
      line-height: 30px;
      height: 30px;
      border: 1px solid $grey-border;
    }

  }

  .subject-hierarchy-suggestion-form.send-suggestion {
    border-top: 1px solid $grey-border;
  }
  
  // Foundation drop-down
  
  // Used for right position
  $f-dropdown-margin-left: 20px;
  
  // Used for left position
  $f-dropdown-margin-right: $f-dropdown-margin-top;
  
  // Foundation background color
  $f-dropdown-bg: $grey-bg--section;

}


