// =============================================================================
// Vejviser -- Everything related to the Vejviser
// =============================================================================

// =============================================================================
// Vejviser search form
// -----------------------------------------------------------------------------

.vejviser-search-submit {
  float: right;
}

#bibdk-vejviser-form {
  margin-bottom: rem-calc(50);
}

// =============================================================================
// Vejviser search result
// -----------------------------------------------------------------------------

.bibdk-favourite-vejviser-link {
  @include rem('padding-bottom', 10px);
  text-align: right;

  a {
    @include rem('padding', 10px 15px);
    @include inline-block();
    color: $white;
    background-color: $grey-2;
  }
}

.btn-add-library {
  color: $grey-text--dark;
  &:hover {
    color: $grey-text--dark;
    text-decoration: underline;
  }

  .svg-star {
    @include svg("svg-star", "yellow");
    margin-right: 5px;
  }

  &.bibdk-favourite-is-favourited {
    .svg-star {
      fill: $grey-text--dark;
    }
  }
}

#edit-favorites {
  padding: 0;
}

#edit-vejviser-link-wrapper {
  border: none;
}

.bibdk-vejviser-help-text {
  clear: both;
}

.ting-agency-branch-name {
  @include typo("title", "large", "black");
  display: block;
}

.ting-agency-agency-name {
  @include typo("link", "item-links", "blue");
  display: block;
}

.ting-agency-library {
  @extend .clearfix;
  background-color: $white;

  h3 {
    @include typo("title", "large", "black");
  }

  h4 {
    @include typo("link", "item-links", "blue");
  }

  .item-list ul li {
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  .element-section {
    background-color: transparent;
  }

  .actions {
    border: none;
  }
}