// =============================================================================
// Vejviser -- Everything related to the Vejviser
// =============================================================================

// =============================================================================
// Vejviser search form
// -----------------------------------------------------------------------------

.vejviser-search-submit {
  float: right;
}

#bibdk-vejviser-form {
  margin-bottom: rem-calc(50);
}

// =============================================================================
// Vejviser search result
// -----------------------------------------------------------------------------

.bibdk-favourite-vejviser-link {
  @include rem('padding-bottom', 10px);
  text-align: right;

  a {
    @include rem('padding', 10px 15px);
    @include inline-block();
    @include border-radius($border-radius);
    color: $white;
    background-color: $grey-2;
  }
}

#edit-favorites {
  padding: 0;
}

#edit-vejviser-link-wrapper {
  border: none;
}

.bibdk-vejviser-help-text {
  clear: both;
}

.ting-agency-library {
  @extend .clearfix;
  background-color: $white;

  .hgroup {
    margin-bottom: 10px;
    float: left;
  }
  .hgroup.has-action {
    max-width: 500px;
  }
  h3 {
    font-weight: normal;
    font-size: 1.6em;
  }
  h4 {
    font-weight: normal;
    font-size: 1.4em;
    color: $grey-4;
  }

  .item-list ul li {
    margin: 0px 0px 0px 0px
  }

  ul {
    list-style-type: none;
  }

  .element-section {
    background-color: transparent;
  }

  &:nth-child(2n) {
    background-color: $grey-bg--section;
  }
  .actions {
    border: none;
  }
}