// =============================================================================
// Tabs
// =============================================================================

.bibdk-tabs {
  margin-bottom: 10px;

  .tabs-nav {
    a {
      float: left;
      display: block;
      padding: 5px 10px;
      width: 33.3%;
      text-align: center;
      border-bottom: 1px solid $grey-border;
      color: $grey-1;
      @include single-transition();
      &:hover {
        background-color: $grey-bg--section;
      }
      &.active {
        border-bottom: 2px solid $blue;
        font-weight: bold;
        margin-bottom: -1px;
        @include single-transition();
      }
    }
  }

  .tabs-sections-wrapper {
    .tabs-sections {
      border: solid 1px $grey-border;
      border-top: none;
      line-height: 1.5em;
    }
  }

  .tab-item {
    .tab-content {
      padding: 20px
    }
    table {
      width: 100%;
    }
    th {
      width: 33%;
    }
  }
}
// =============================================================================
// Reviews
// =============================================================================

.bibdk-review, .bibdk-article-review {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #dcdcdc;
  &:first-child {
    border: none;
    margin: 0px;
    padding: 0px;
  }
}

// =============================================================================
// Bibdk reviews
// =============================================================================
.bibdk-article-review {
  @media #{$medium-up} {
    .openformat-info {
      float: left;
    }
    .bibdk-review-link {
      float: right;
    }
  }
}


// =============================================================================
// User settings form
// =============================================================================

.bibdk-tabs--usersettings {
  .tabs-nav {
    a {
      width: auto;
      border-left: 1px solid $grey-border;
      border-bottom: none;
    }
    a:first-child {
      border-left: none;
    }
  }
}


