// =============================================================================
// Works controls (above the list of works)
// =============================================================================

.works-controls {
  margin-bottom: 10px;
}

.works-controls .pane-ting-openformat-pager{
  float:right;
  margin:0;
}

.works-controls .pane-ting-openformat-feeds{
  background-color: $grey-6;
  border: none;
}

.pane-bibdk-search-controls-search-control-sort,
#edit-search-controls-sort,
.pane-ting-openformat-full-view,
.pane-ting-openformat-pager,
.pane-ting-openformat-feeds {
  float: left;
  position: relative;
  @include inline-block();
  border: $border-default;
  @include border-radius($border-radius);

  background-color: $white;
  margin-right: 10px;

  div, span > a {
    position: relative;
    @include rem('height', 30px);
    @include rem('line-height', 30px);
  }
}

#edit-search-controls-sort {
  margin-top: 5px;
}

.bibdk-search-controls-form {

  a {
    padding: 0 35px 0 10px;
  }

  .dropdown-menu a {
    white-space: nowrap;
  }

  .dropdown-toggle:after {
    @include add-sprite("angle--down--blue");
    @include align("vcenter");
    right: 10px;
  }
  .dropdown-toggle.toggled:after {
    @include add-sprite("angle--up--blue");
  }

}

.pane-ting-openformat-pager {
  .pane-content a {
   padding: 0 10px 0 10px;
  }
}

.pane-ting-openformat-full-view {
  .pane-content a {
    padding: 0 10px 0 30px;
  }
  .ajax-progress .throbber{
    float: right;
    margin: 7px 0 0 5px;
  }

}


#ting-openformat-full-view-button-closed,
#ting-openformat-full-view-button-expanded {

  &:after {
    @include align("vcenter");
    left: 10px;
  }

}


#ting-openformat-full-view-button-closed {

  &:after {
    @include add-sprite("viewmode--list--blue");
  }
  &.inactive:after {
    @include add-sprite("viewmode--list--grey");
  }

}

#ting-openformat-full-view-button-expanded {

  &:after {
    @include add-sprite("viewmode--details--blue");
  }
  &.inactive:after {
    @include add-sprite("viewmode--details--grey");
  }

}

.works-control {

}


.works-sort {


}



.full-view-links {

}

#ting-openformat-full-view-button-closed {

}

#ting-openformat-full-view-button-expanded {

}


//.pane-ting-openformat-feeds {
//  float: right;
//}



// div.works-controls > div > div {
//   position: relative;
//   float: left;
// }



// /*.pager,*/
// .works-controls {
//   display: block;
//   margin-bottom: 10px;
//   // padding: 0 0 9px 0;

//   h1 {
//     margin-left: 20px;
//     font-size: 18px;
//     color: $blue;
//   }
// }

// .works-controls > div,
// .works-control-wrapper-left {
//   float: left;
//   line-height: 30px;
//   height: 30px;
//   background: $white;
//   @include border-radius(3px);
//   border: solid 1px $grey-5;
//   border-left-width: 0;
//   &.panel-separator {
//     border-width: 0;
//   }
//   .works-control.toggled {
//     @include border-radius(3px);
//   }
// }







// .works-control-wrapper-right {
//   float: right;
// }

// .works-control {
//   font-size: 14px;

//   &:active,
//   &.toggled {
//     @include box-shadow(inset 0 0px 1px rgba($black, .8));
//     background-color: darken($grey-7, 2%);
//   }
// }

//
// Toggle collapsed/expanded
//
// .works-toggle {
//   padding: 0 20px;
//   float: left;
// }

// .works-toggle-collapse,
// .works-toggle-expand {
//   @include inline-block(middle);
//   width: 17px;
// }

// .works-toggle-collapse {
//   background: url(../img/works-collapse.png) no-repeat 50% 50%;
// }

// .works-toggle-expand {
//   background: url(../img/works-expand.png) no-repeat 50% 50%;
// }

//
// Sorting
//
// .works-sort {
//   padding: 0 20px;
//   float: left;
// }


//**************************************************
// feeds
// ================================================
// div.works-controls > div.pane-ting-openformat-feeds{
//   background:none;
//   border:none;
//   float:right;
// }
