// =============================================================================
// Button as link
// =============================================================================

@mixin button-as-link($color) {
  overflow: visible; /* Shrinkwrap the text in IE7- */
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: $color;
  background: transparent;
  text-shadow: none;
  font: inherit; /* Inherit font settings (doesn't work in IE7-) */
  line-height: normal; /* Override line-height to avoid spacing issues */
  cursor: pointer; /* Buttons don't make the cursor change in all browsers */
  -moz-user-select: text; /* Make button text selectable in Gecko */
/* Make sure keyboard users get visual feedback */
  &:hover,
  &:focus,
  &:disabled:hover,
  &.disabled:hover {
    background-color: transparent;
    @include gradient(transparent, transparent);
    @include box-shadow(0 0 0 rgba(black, 0.1));
  }
  &:disabled {
    opacity: 1;
    @extend a.inactive;
    @include gradient(transparent, transparent);
  }
/* Remove mystery padding in Gecko browsers.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
 */
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
