@charset "UTF-8";

// =============================================================================
// banner
// =============================================================================

#banner-wrapper {

  background-color: $white;

  .banner-block {
    margin: 0 0 10px 0;
  }

  .banner {
    margin: 10px 0 0 0;
  }

}
