// =============================================================================
// Import: Buttons
// =============================================================================

input[type="submit"].button-as-link {
  @include button-as-link($blue);
}


// =============================================================================
// Define color variations of buttons
// =============================================================================
.btn-blue {
  background-color: $blue; // IE9 fix: background-image mixin fails in IE9
  @include btn-skin($blue);
  color: $white;
  text-shadow: $text-shadow;
}

.btn-grey {
  background-color: $grey-3; // IE9 fix: background-image mixin fails in IE9
  @include btn-skin($grey-3);
  color: $white;
  text-shadow: $text-shadow;
}

// =============================================================================
// Classes
// =============================================================================
.btn {
  @include box-sizing(border-box);
  @include border-radius(3px);
  @include transition(all .1s);
  @include inline-block();
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;

  &:hover {
    @include box-shadow(0 2px 2px rgba(black, 0.2));
  }

  &.toggled,
  &:active {
    @include box-shadow(inset 0 2px 2px rgba(black, 0.2));
  }

  &:disabled,
  &.disabled {
    cursor: default;
    background-color: $blue-light;
    background-image: none;

    &:hover {
      @include box-shadow(0 0 0);
    }
  }
}

.btn-add-library {
  @include transition(none);
  border: solid 1px $grey-5;
  color: $blue;
  text-shadow: none;
  padding-left: 40px;

  background: $white;
  background-image: url(../img/library-favorite.png); /* fallback */
  background-image: url(../img/library-favorite.png), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* Saf4+, Chrome */
  background-image: url(../img/library-favorite.png), -webkit-linear-gradient(top, #fff, #eee); /* Chrome 10+, Saf5.1+ */
  background-image: url(../img/library-favorite.png), -moz-linear-gradient(top, #fff, #eee); /* FF3.6+ */
  background-image: url(../img/library-favorite.png), -ms-linear-gradient(top, #fff, #eee); /* IE10 */
  background-image: url(../img/library-favorite.png), -o-linear-gradient(top, #fff, #eee); /* Opera 11.10+ */
  background-image: url(../img/library-favorite.png), linear-gradient(top, #fff, #eee);
  background-repeat: no-repeat;
  background-position: 0%;
  &:hover {
    @include box-shadow(0 2px 2px rgba($black, 0.1));
  }
}

.set-default-order-agency {
  @extend .btn;
  border: solid 1px $grey-5;
  margin-bottom: 10px;

  background: #fff;
  background-image: url(); /* fallback */
  background-image: url(), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* Saf4+, Chrome */
  background-image: url(), -webkit-linear-gradient(top, #fff, #eee); /* Chrome 10+, Saf5.1+ */
  background-image: url(), -moz-linear-gradient(top, #fff, #eee); /* FF3.6+ */
  background-image: url(), -ms-linear-gradient(top, #fff, #eee); /* IE10 */
  background-image: url(), -o-linear-gradient(top, #fff, #eee); /* Opera 11.10+ */
  background-image: url(), linear-gradient(top, #fff, #eee);
  background-repeat: no-repeat;
  background-position: 0%;
  &:hover {
    @include box-shadow(0 2px 2px rgba(black, 0.1));
  }
}

.order-agency .set-default-order-agency {
  @include box-shadow(inset 0 1px 1px rgba(black, 0.4));
}

.selected-agency {
  font-weight: bold;
}

.further-search-btn {
  float: right;
}

button[type="button"] {
    border: medium none;
}

