// =============================================================================
// Carousel
// =============================================================================

/* Mixins
   ========================================================================== */

/* RGBa background (https://gist.github.com/1949202) */
@mixin rgba-background($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: $rgba;
  zoom: 1;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}


#carousel-wrapper {
  // background-color: $light_grey1;
  background-color: $white;
}

.rs-carousel {
  background-color: inherit;
  padding-top: 30px;
  padding-bottom: 30px;

  .rs-carousel-inner {
    background-color: inherit;
    /* @include rgba-background($light_grey1, .1); */
    min-height: 220px;
    margin-bottom: 0px;
    margin-top: 40px;
    padding-top: 0px;

    .rs-carousel-mask {
      background-color: inherit;
      max-height: 260px;
      max-width: 100%;
      position: absolute;
      right: 0%;

      .rs-carousel-item {
        background-color: inherit;
        float: left;
        max-width: 150px;
        padding-right: 10px;
        text-align: center;
        .rs-carousel-item-image {
          background-color: inherit;
          border-radius: 0;
          img {
            padding: 0;
          }
        }
        .rs-carousel-item-title {
          margin-top: 5px;
          line-height: 14px;
          overflow: hidden;
          a {
            color: $dark_grey2;
            font-weight: bold;
          }
        }
        .rs-carousel-item-creator {
          margin-top: 2px;
          line-height: 16px;
          min-height: 16px;
          a {
            color: $dark_grey5;
          }
        }
      }

    }

  }

}

.rs-carousel-header {
  color: $dark_grey3;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  float: left;
  .materialtype {
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 5px;
  }
  .header {
  }
}

.rs-carousel-select {
  text-align: right;
  float: right;
  form {
    height: 30px;
    display: inline-block;
  }
  .works-control {
    background-color: #FFFFFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset;
    height: 30px;
    line-height: 30px;
    @include border-radius(6px);
    float: left;
    padding: 0 10px 0 20px;
    min-width: 200px;
  }
  .dropdown-menu {
    display: inline-block;
    top: 60px;
    right: 0px;
    margin: 0px;
    min-width: 228px;
  }
}

.rs-carousel-action-prev, .rs-carousel-action-next {
    background-image: url("../img/carousel-arrows.png");
    height: 41px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    width: 41px;
}

.rs-carousel-compact .rs-carousel-action-prev {
    left: -5%;
}

.rs-carousel-compact .rs-carousel-action-next {
    background-position: right 0;
    right: -5%;
}
