// =============================================================================
// CTools modal window
// =============================================================================

div#modalContent {

}

div.ctools-modal-content {

  .modal-header {
    color: #999999;
    background-color: #3C4043;

    a.close img {
      margin-left: 0.5em;
    }

  }

  .modal-content {
    text-align: center;
  }

}
