// =============================================================================
// Bib.dk search facet browser
// =============================================================================

.page-search .span24 .span5 {
    margin-left: 0;
}

.page-search .panel-left {
    background-color: $grey-7;
    padding: 5px;
    border: solid 1px darken($grey-5, 5%);
    border-width: 0 1px 1px;
    padding: 13px 10px 10px;
    position: relative;
    top: -16px;
}

.page-search .panel-left:empty {
    display: none;
}

#carousel-wrapper div[class="span24"] {
    min-height: 0;
}

#ding-facetbrowser-form {

  a, fieldset, legend {
      background: $grey-3;
      background-color: transparent;
      color: $black;
  }

  legend {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  .form-item {
      padding: 0;
      margin-left: 0;
  }

  .fieldset-legend {
      font-size: 15px;
      padding: 0;
  }


  .form-type-checkbox {
      margin-right: 0px;
  }

  label.option {
      color: $black;
      display: block;
      float: none;
      margin-left: 1em;
      text-indent: 0;
      a {
          background-color: transparent;
          border-bottom-width: 0px;
          border-top-width: 0px;
          color: $black;
          padding: 0px 8px;
          transition: background-color 0.5s ease 0s;
      }
  }

  input[type="checkbox"] {
      display: block;
      float: left;
      margin: 5px 0px;
  }

  #expand_more {
      cursor: pointer;
      margin: 0 0 7px 0px;
  }
}

