// =============================================================================
// Import: Global elements
// =============================================================================

body {
  background: $dark_grey3;
}

body.page-overlay,
body.page-reservation {
  background: $white;
}

// =============================================================================
// Page region wrappers
// =============================================================================
#topbar-wrapper {
  background: $dark_grey1;
}

#header-wrapper {
  background: $dark_grey2;
  height: 80px;
}

#search-panel-wrapper {
  background: $light_grey2;
  padding: 20px 0 0 0;
}

#subjects-wrapper {
  background: $light_grey1;
  /* padding: 30px 0 10px; */
  border-bottom: 1px solid $light_grey3;
  min-height: 0px;
}

#messages-wrapper {
  background: $nav_msg_bg;
  #messages {
    color: $white;
  }
}

#columns-wrapper {
  background: $white;
  padding: 40px 0 30px;
}

.page-search #columns-wrapper {
  background: $light_grey1;
}



.lift-columns #columns {
  margin-top: -112px;
}

#footer-wrapper {
  background: $dark_grey3;
  padding: 40px 0 100px;
}

// =============================================================================
// Panel content wrappers
// =============================================================================
#search-result-wrapper {
  clear: both;
}

// =============================================================================
// Identity
// =============================================================================
#header-logo {
  position: absolute;
  top: 20px;
}

#footer-logo {
  text-align: center;
}

// =============================================================================
// Language navigation
// =============================================================================
#lang-nav,
#user-help-topbar-menu {
  float: left;
}

#lang-nav {
  li {
    float: left;
    display: block;
  }
  a {
    float: left;
    display: block;
  }

  li:last-child a {
    border-right: none;
  }
}

#user-help-topbar-menu {
  li:first-child a {
    padding-left: 0;
  }
  a {
    border-right: solid 1px $dark_grey2;
  }
}

// =============================================================================
// Service navigation
// =============================================================================
#user-help-topbar-menu,
#lang-nav {

  li {

    a {
      padding: 0.5em 1em;
      color: $light_grey3;

      &:hover {
        color: $light_grey1;
      }
    }
  }
}

// =============================================================================
// User navigation
// =============================================================================
#user-nav {
  position: absolute;
  top: 0;
  width: 950px;
  z-index: 99;

  &.with-mats {
    position: fixed;
  }
}

#user-nav-inner {
  position: absolute;
  right: 0;
  z-index: 99;

  a {
    line-height: 300%;
    padding: 0 1em;
    border-right: solid 1px lighten($nav_user_bg, 5%);
    color: lighten($white, 10%);
    text-shadow: 0 -1px rgba(black, .3);
    background: $nav_user_bg;
    font-weight: bold;
  }

  li:first-child a {
    @include border-bottom-left-radius(5px);
  }
  li:last-child a {
    @include border-bottom-right-radius(5px);
    border-right: none;
  }

  .materials-button {

    .mats {
      float: left;
      margin-right: 0.5em;
      font-size: 1.5em;
      // 18px
      font-weight: bold;
    }
  }

  .login-button {
    font-weight: bold;
  }
}

// =============================================================================
// Header actions
// =============================================================================
.region-header-actions {
  position: absolute;
  right: 0;
  top: 30px;
}

.bibdk-favourite-vejviser-link {
  color: $white;
  float: right;
  margin-top: -75px;
}

.header-action, .bibdk-favourite-vejviser-link {
  @include inline-block(middle);
  @include border-radius(3px);

  background: $dark_grey3;
  line-height: 30px;
  padding: 0 10px;
  margin-left: 2px;

  a {
    color: $white;
  }
}

.header-action-helpdesk {
  padding-left: 0;

  img {
    float: left;
    position: relative;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    @include border-radius(3px);
  }
}

#bibdk-vejviser-header {
  float: right;
  margin-top: -70px;
  width: 100%;
  #bibdk-vejviser-count {
    white-space: nowrap;
    font-size: large;
    line-height: 1.5;
    float: left;
    padding: 0px 25%;
  }
  .vejviser-raw {
    float: right;
  }
}

.header-action-vejviser, .vejviser-raw {

  //.search-form-horizontal handles the floating
  &.toggled {
    padding: 0;
    background: transparent;
  }

  .form-type-textfield {
    width: 230px;
    margin-right: 5px;
  }
  .form-actions {
    width: 85px;
  }

  form {
    width: 320px;
  }
  input {
    line-height: 30px;
    height: 30px;
  }
  input[type=text] {
    padding: 0 5px;
    font-size: 12px;
  }
}

.header-action-reservation {

  .form-type-textfield {
    /*width:210px;*/
    margin-right: 5px;
  }
  .form-actions {
    width: 85px;
  }

  form {
    /*width:300px;*/
  }
  input {
    line-height: 30px;
    height: 30px;
  }
  input[type=text] {
    padding: 0 5px;
    font-size: 12px;
  }
}

// =============================================================================
// Search form
// .search-form-horizontal handles the floating
// =============================================================================
#search-form {
  margin-bottom: 10px;

  .form-wrapper {
    padding: 0;
  }

  .form-type-textfield {
    width: 84%;
    margin-right: 1%;
    margin-bottom: 10px;
  }

  .form-actions {
    width: 15%;
    margin-bottom: 10px;
  }

  input {
    height: 40px;
    line-height: 40px;
  }

  input[type=text] {
    padding: 0 10px;
    font-size: 1.166667em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075) inset;
    // 14px
  }

  input[type=submit] {
    font-size: 1.333333em;
    font-weight: bold;
    // 16px
  }
}

#search-tabs {
  margin-bottom: 15px;

  li {
    padding-right: 0px;

    input[type=submit] {
      font-size: 12px;
      /* background: $dark_grey4; */
      background: $white;
      @include transition(background-color .5s);
      /* margin-right: 1px; */
      margin-right: 0px;
      /* border-top: solid 1px darken($dark_grey3, 5%); */
      background-color: $white;
      color: $dark_grey4;
      height: 32px;
      line-height: 32px;
      margin-top: 4px;
      border: solid 1px #d4d4d4;
      @include border-radius(0px);
      border-width: 1px 1px 1px 0px;
      box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.05) inset;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.15);

      &:hover {
        color: $white;
        background: lighten($dark_grey4, 10%);
        @include box-shadow(0 2px 2px rgba($dark_grey3, 0.2));
      }

      &.active {
        color: $white;
        background: $btn_blue;
        @include border-radius(3px);
        text-shadow: 0px -1px rgba(black, .2);
        height: 40px;
        line-height: 40px;
        border: none;
        position: relative;
        margin-top: 0px;
      }
    }
    &:first-child input[type=submit] {
      border-left-width: 1px;
      @include border-radius(5px 0 0 5px);
      &.active {
        @include border-radius(3px);
      }
    }
    &:last-child input[type=submit] {
      @include border-radius(0 5px 5px 0);
      &.active {
        @include border-radius(3px);
      }
    }
  }
  .ajax-progress .throbber {
    margin-left: 40%;
  }
}

// =============================================================================
// Subjects navigation
// =============================================================================
#subjects-nav {

  li {
    float: left;
    width: 33%;
  }

  a {
    display: block;
    margin-bottom: 20px;
    font-size: 1.16667em;
    // 14px
    color: $dark_grey3;
  }
}

// =============================================================================
// Sidebar
// =============================================================================
.sidebar-header {
  height: 67px;
  line-height: 67px;
  background-color: $dark_grey3;
  border-bottom: solid 1px darken($dark_grey3, 5%);

  font-size: 1.333em;
  // 16px
  font-weight: bold;
  text-align: center;
  color: $white;
  a {
    color: $white;
  }
}

// ##fix##
.page-laanerstatus .sidebar-header,
.page-favoritbiblioteker .sidebar-header {
  background-image: url(../img/min-side-smiley.png);
  background-repeat: no-repeat;
  background-position: 10%;
}

#block-bibdk-frontend-tabs1,
#block-bibdk-frontend-tabs2,
.sidebar-nav {

  a, fieldset .expand {
    background: $dark_grey4;
    display: block;
    padding: 8px 15px;
    color: $white;

    border-top: solid 1px lighten($dark_grey4, 2%);
    border-bottom: solid 1px darken($dark_grey4, 5%);

    @include transition(background-color .5s);

    &:hover {
      background: lighten($dark_grey4, 2%);
    }

    &:visited {
      color: $white;
    }

    &.active {
      border: none;
      @include border-radius(3px);
      background: $btn_blue;
      padding: 8px 18px;
      margin-left: -3px;
      margin-right: -3px;
      font-weight: bold;
      text-shadow: 0 -1px 1px rgba(black, 0.3);

      &:hover {
        background: lighten($btn_blue, 2%);
      }
    }
  }

  legend {
    /* , .facet-type */
    background: darken($dark_grey3, 2%);
    padding: 8px 15px;
    color: $white;
    font-weight: bold;
    width: 160px;
  }

  fieldset {
    border-width: 0px;
    margin: 0px;
    padding: 0px;

    .form-checkboxes .form-item {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .form-type-checkbox input {
    display: none;
  }
}

// =============================================================================
// Exceptions for facets
// =============================================================================

#ding-facetbrowser-form {

  .form-item {
    padding: 0;
  }

  .fieldset-legend {
    font-size: 14px;
    padding: 0;
  }

  label.option {
    display: block;
    margin-bottom: 0;
  }
  .form-type-checkbox {
    float: none;
    margin: 0;
  }

  .expand_more {
    cursor: pointer;
  }
}

// =============================================================================
// Page title
// =============================================================================

#title {
  color: #3497be;
  height: 73px;
  line-height: 73px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}

// =============================================================================
// Help search form
// =============================================================================

#bibdk-help-search-form {

  padding: 0 20px;

  fieldset.form-wrapper {
    padding: 0px;
  }

  .form-type-textfield {
    width: 84%;
    margin-right: 1%;
  }

  .form-actions {
    width: 15%;
  }

  input {
    height: 40px;
    line-height: 40px;
  }

  input[type=text] {
    padding: 0 10px;
    font-size: 1.166667em;
    // 14px
  }

  input[type=submit] {
    font-size: 1.333333em;
    // 16px
  }
}

// =============================================================================
// Font style helpers
// =============================================================================
.normal {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

a.inactive {
  color: $dark_grey5;
  cursor: default;
}
