//
// Import: Global elements
//




//
// Page region wrappers
//

#topbar-wrapper {
    background:$dark_grey1;	
}

#header-wrapper {
    background: $dark_grey2;
    height:80px;	
}

#search-panel-wrapper {
    background:$dark_grey3;
    padding:20px 0;
}

#subjects-wrapper {
    background: $light_grey2;
    padding:30px 0 10px;
    min-height:60px;
}

#page-columns {
    padding:40px 0 30px;
    margin-top:-112px;
}

.page-frontpage #page-columns {
    margin-top:0;
}

#footer-wrapper {
    background: $dark_grey3;
    padding:40px 0 100px;
}




//
// Identity
//

#header-logo {
    position: absolute;
    top:15px;
}
#footer-logo {
    text-align: center;	
}



//
// Language navigation 
//

#lang-nav,
#service-nav {
    float: left;
}

#lang-nav {
    li {
        float:left;
        display:block;
    }
    a {
        float:left;
        display:block;
    }
    
    li:last-child a {
        border-right:none;
    }
}

#service-nav {
    li:first-child a {
        padding-left:0;
    }
    a {
        border-right:solid 1px $dark_grey2;
    }
}


//
// Service navigation 
//

#service-nav,
#lang-nav {
    
    li {
        
        a {
            padding:0.5em 1em;
            color:$light_grey5;
            
            &:hover {
                color:$light_grey3;
            }
        }
    }
}




//
// User navigation 
//

#user-nav {
    position:absolute;
    top:0;
    width:950px;
    
    &.with-mats {
        position:fixed;
    }
}
#user-nav-inner {
    position:absolute;
    right:0;
    z-index: 10;
    
    a {
        line-height:300%;
        padding:0 1em;
        border-right:solid 1px lighten($dark_grey3, 5%);
        color: lighten($btn_blue, 10%);
        text-shadow:0 -1px rgba(black,.3);
        background: $dark_grey3;
    }
    
    li:first-child a {
        @include border-bottom-left-radius(5px);
    }
    li:last-child a {
        @include border-bottom-right-radius(5px);
        border-right:none;
    }
    
    .materials-button {
        
        .mats {
            float:left;
            margin-right:0.5em;
            font-size:1.5em; // 18px
            font-weight:bold;
        }
    }
    
    .login-button {
        font-weight:bold;
    }
}




//
// Page actions
//

#page-actions {
    position:absolute;
    right:0;
    top:30px;
    
    li {
        margin-left:5px;
    }
    
    a {
        @include border-radius(3px);
        line-height:30px;
        background: $dark_grey3;
        color:$white;
    }
}

// Spørg biblioteksvagt
.page-action-sporg-vagt {
    padding:0 10px 0 0;	
    font-weight:bold;	
    
    img {
        float:left;
        margin-right:10px;
        position:relative;
        top:2px;
        left:2px;
        @include border-radius(3px);
    }
}
// Find bibliotek
.page-action-find-bib {
    
    @include box-sizing(border-box);
    
    padding:0 10px;
    position:relative;
    
    form {
        position:absolute;
        top:0;
        left:0;
        width:300px;
    }
    
    input {
        line-height:30px;
        float:left;
        padding:0 10px;
    }
    input[type=text] {
        width:85%;
    }
    input[type=submit] {
        width:15%;
    }
}




//
// Search form
//

#search-form {
    margin-bottom:10px;
    
    input {
        float:left;
        height:40px;
        line-height:40px;
    }
    input[type=text] {
        width:830px;
        margin-right: 10px;
        padding:0 1em;
        @include rem('font-size', 14px);
    }
    input[type=submit] {
        width:110px;
        @include rem('font-size', 16px);
    }
}
#search-tabs {
    margin-bottom:15px;
    
    a {
        background: $dark_grey4;
        @include transition(background-color .5s);
        margin-right:1px;
        padding:10px 20px;
        border-top:solid 1px darken($dark_grey3, 5%);
        
        color:$white;
        
        &:hover {
            background: lighten($dark_grey4, 10%);
        }
    }
    
    li:first-child a {
        @include border-radius(5px 0 0 5px);	
    }
    li:last-child a {
        @include border-radius(0 5px 5px 0);
    }
    
    li.active a {
        background-color:$btn_blue;
        @include border-radius(3px);
        text-shadow:0px -1px rgba(black,.2);
        
        border:none;
        padding:12px 21px;
        position: relative;
        top:-1px;
        left:-1px;
        margin-right:-1px;
    }
}

#search-advanced-panel {
    height:500px;
    margin-top:30px;
    background:$light_grey5;
}




//
// Subjects navigation
//

#subjects-nav {
    
    li {
        float:left;
        width:33%;	
    }
    
    a {
        display:block;
        margin-bottom:20px;
        font-size:1.1666em; // 14px
        color:$dark_grey3;
    }
}




//
// Sidebar
//

.sidebar-header {
    height:71px;
    line-height:71px;
    background-color:$dark_grey3;
    border-bottom:solid 1px darken($dark_grey3, 5%);
    
    font-size:1.333em; // 16px
    font-weight:bold;
    text-align:center;
    color:$white;
}

// ##fix##
.page-laanerstatus .sidebar-header,
.page-favoritbiblioteker .sidebar-header {
    background-image:url(../img/min-side-smiley.png);
    background-repeat:no-repeat;
    background-position:10%;
}

.sidebar-nav {
    
    a {
        background:$dark_grey4;
        display:block;
        padding:8px 15px;
        color:$white;
        
        border-top:solid 1px lighten($dark_grey4, 2%);
        border-bottom:solid 1px darken($dark_grey4, 5%);
        
        @include transition(background-color .5s);
        
        &:hover {
            background:lighten($dark_grey4, 2%);
        }
        
        &.active {
            border:none;
            @include border-radius(3px);
            background:$btn_blue;
            padding:8px 18px;
            margin-left:-3px;
            margin-right:-3px;
            font-weight:bold;
            text-shadow:0 -1px 1px rgba(black, 0.3);
            
            &:hover {
                background:lighten($btn_blue, 2%);
            }
        }
    }
    
    .facet-type {
        background:darken($dark_grey3, 2%);
        padding:8px 15px;
        color:$white;
        font-weight:bold;
    }
}