//
// Page regions
//
#region-topbar {
	background:$dark_grey1;
}
#region-header {
	background: $dark_grey2;
	height:80px;	
}
#region-search {
	background:$dark_grey3;
	padding:20px 0;
}
#region-subjects {
	background: $light_grey2;
	padding:30px 0 10px;
	min-height:60px;
}
#region-content {
	padding:40px 0 30px;
	margin-top:-112px;
}
.page-frontpage #region-content {
	margin-top:0;
}
#region-footer {
	background: $dark_grey3;
	padding:40px 0 100px;
}



//
// Identity
//
#header-logo {
	position: absolute;
	top:15px;
}
#footer-logo {
	text-align: center;	
}



//
// Top bar 
//

// Service navigation
#service-nav {

	li {

		a {
			padding:0.5em 1em;
			border-right:solid 1px $dark_grey2;
			color:$light_grey5;

			&:hover {
				color:$light_grey3;
			}
		}
		&:first-child a {
			padding-left:0;
		}
		&:last-child a {
			border-right:none;
		}	
	}
}






// User navigation
#user-nav {
	position:absolute;
	top:0;
	width:950px;

	&.with-mats {
		position:fixed;
	}
}
#user-nav-inner {
	position:absolute;
	right:0;
	z-index: 10;

	a {
		line-height:300%;
		padding:0 1em;
		border-right:solid 1px lighten($dark_grey3, 5%);
		color: lighten($btn_blue, 10%);
		text-shadow:0 -1px rgba(black,.3);
		background: $dark_grey3;
	}

	li:first-child a {
		@include border-radius(0 0 0 5px);
	}
	li:last-child a {
		@include border-radius(0 0 5px 0);
		border-right:none;
	}
		
	.materials-button {

		.mats {
			float:left;
			margin-right:0.5em;
			font-size:1.5em; // 18px
			font-weight:bold;
		}
	}

	.login-button {
		font-weight:bold;
	}
}









//
// Unique element: Page actions
//
#page-actions {
	position:absolute;
	right:0;
	top:30px;

	li {
		margin-left:5px;
	}
	
	a {
		@include border-radius(3px);
		line-height:30px;
		background: $dark_grey3;
		color:$white;
	}
}

// Spørg biblioteksvagt
.page-action-sporg-vagt {
	padding:0 10px 0 0;	
	font-weight:bold;	

	img {
		float:left;
		margin-right:10px;
		position:relative;
		top:2px;
		left:2px;
		@include border-radius(3px);
	}
}
// Find bibliotek
.page-action-find-bib {

	@include box-sizing(border-box);

	padding:0 10px;
	position:relative;

	form {
		position:absolute;
		top:0;
		left:0;
		width:300px;
	}

	input {
		line-height:30px;
		float:left;
		padding:0 10px;
	}
	input[type=text] {
		width:85%;
	}
	input[type=submit] {
		width:15%;
	}
}



//
// Unique element: Search form
//
#search-form {
	margin-bottom:10px;

	input {
		float:left;
		height:40px;
		line-height:40px;
	}
	input[type=text] {
		width:830px;
		margin-right: 10px;
		padding:0 1em;
		@include rem('font-size', 14px);
	}
	input[type=submit] {
		width:110px;
		@include rem('font-size', 16px);
	}
}
#search-tabs {
	margin-bottom:15px;

	a {
		background: $dark_grey4;
		@include transition(background-color .5s);
		margin-right:1px;
		padding:10px 20px;
		border-top:solid 1px darken($dark_grey3, 5%);

		color:$white;

		&:hover {
			background: lighten($dark_grey4, 10%);
		}
	}

	li:first-child a {
		@include border-radius(5px 0 0 5px);	
	}
	li:last-child a {
		@include border-radius(0 5px 5px 0);
	}

	li.active a {
		background-color:$btn_blue;
		@include border-radius(3px);
		text-shadow:0px -1px rgba(black,.2);
		
		border:none;
		padding:12px 21px;
		position: relative;
		top:-1px;
		left:-1px;
		margin-right:-1px;
	}
}

#search-advanced-panel {
	height:500px;
	margin-top:30px;
	background:$light_grey5;
}

