// =============================================================================
// ie6nomore module corrections
// =============================================================================

#ie6nomore {
  border: 1px solid #efcccc;
  background: #efcccc;
}

#ie6nomore-wrapper {
    width: 990px;
    color: black;
}

#ie6nomore .close-button a {
  color: #F7941D;
}