// =============================================================================
// ie6nomore module corrections
// =============================================================================

#ie6nomore-wrapper {
    width: 990px;
    color: black;
    background-color: $red-pure;
}
