
// =============================================================================
// Work
// =============================================================================

// Work header
.work-header {

  .actions {
    border: none;
    // Remove left border from actions in work header
  }

  .element-title {
    float: left;
    max-width: 60%;
    .page-work & { // parent element selector
      float: none;
    }
  }

  .element-types-actions {
    float: right;
  }

  .element-types {
    float: left;
  }

  .element-actions {
    float: right;
  }

  &.element-section {
    .page-work & { // parent element selector
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }

}

// Work body
.work-body {

  .field-tags {
    margin-bottom: 20px;
    color: $grey-4;

    a {
      color: $blue;
    }
  }

  .field-summary {
    color: $grey-3;
    margin-bottom: 10px;
  }

  &.work-body-has-cover .wrapper {
    width: 75%;
    float: left;
  }

  &.element-section {
    padding: 0;
  }

}

.cover {
  width: 25%;
  float: right;
}

// Work cover
.work-cover {
  margin: 0 0 10px 20px;
  img {
    width: 100%;
  }
}

.work-cover-image {
  margin-bottom: 10px;
}

.work-cover-selector {

  a {
    float: left;
    display: block;
    width: 14px;
    height: 17px;
    margin-right: 5px;

    &.work-cover-front {
      background: url(../img/cover-front.png);
    }
    &.work-cover-back {
      background: url(../img/cover-back.png);
    }
  }
}

.search-results {
  .work.element-wrapper {
    border-width: 0;
    background: $white;
    > .element {
      border-width: 0;
      .element-section {
        border-color: $white;
        border-bottom-width: 0;
      }
    }
    > .element.toggled-element {
      border-width: 3px;
      border-style: solid;
      border-color: $grey-5;
      .element-section {
        padding: 17px;
        margin: 0px;
        &.work-body {
          padding-left: 0px;
          padding-right: 0px;
          padding-bottom: 0px;
        }
      }
    }
  }
  .manifestations.zebra-wrapper {
    margin-left: 20px;
    .manifestation {
      background: $white;
      &.zebra {
        background: $white;
        border-color: $grey-7;
        border-left-width: 1px;
        border-top-width: 1px;
        border-top-style: solid;
        .article {
          width: 100%;
        }
      }
      .actions {
        max-width: 175px;
      }
      .primary-actions {
        > a {
          display: block;
        }
        > a, ul li {
          margin-left: 24px;
          text-indent: -24px;
          list-style: none;
        }
      }
      .show-more {
        margin-left: 24px;
        text-indent: -24px;
        list-style: none;
      }
    }
  }
}

//
// Manifestation data
//
.manifestation-data {
  line-height: 180%;

  a {
    font-weight: normal;
  }

  .field {
    clear: left;
  }

  .field-label {
    display: block;
    float: left;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
    color: $grey-1;
    font-weight: normal;
    width: 100px;
  }
  .field-items {
    /*width: auto;*/
    margin-left: 120px;
    display: block;
    color: $grey-3;
    vertical-align: top;
    /*break long links*/
    -ms-word-break: break-all;
    word-break: normal;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
  }
  .field-label-hidden {
    .field-items {
      margin-left: 120px;
    }
  }
  .field-name-bibdk-mani-volume .field-items,
  .field-name-bibdk-mani-section .field-items {
    margin-left: 0px;
    width: auto;
  }
  .field-name-bibdk-mani-volume .field-items .field-items,
  .field-name-bibdk-mani-section .field-items .field-items {
    margin-left: 120px;
    width: 340px;
  }

  .field-name-bibdk-mani-distinction .field-items .field-item {
    display:inline;
    background-color: $yellow-light;
  }
  .field-name-bibdk-mani-access-information .field-items .field-item {
    display:inline;
    background-color: $yellow-light;
  }
  .field-name-bibdk-mani-marked-audience .field-items .field-item {
    display:inline;
    background-color: $yellow-light;
  }
  .field-name-bibdk-mani-recommended-audience .field-items .field-item {
    display:inline;
    background-color: $yellow-light;
  }

}

// manifestation in cart
.cart-item-checkbox .manifestation-data .field-label-hidden .field-items {
  margin-left: 0;
}

//
// Order any edition button
//
.order-any-btn-list {
  right: 0;
  width: 300px;

  h3 {
    color: $blue;
    font-size: 1em;
    padding: 0 5px 0 10px;
    text-align: left;
    .icon {
      height: 15px;
      padding-top: 8px;
    }
  }

  a {
    padding: 5px 0px;
    color: white;
    &.btn-blue {
      @extend .btn-blue;
    }
    &.btn-grey {
      @extend .btn-grey;
    }
  }

  table {
    border-collapse:separate;
    border-spacing:2px 2px;

    th {
      text-align:center;
      padding-left: 10px;
    }

    tr  {
      text-align:center;

      td {
        vertical-align: middle;
        &:first-child {
          font-weight: bold;
        }
      }

      &.odd{
        background-color: $zebra-odd;
      }
      &.even{
        background-color: $zebra-even;
      }
    }
  }
}

.reservation-btn-infotext {
  font-size: 11px;
  padding: 2px 4px;
}

.item-list {
  .material-types-list {

    display: block;

    li {
      float: left;
      padding-right: 5px;

      .materialtype {
        background: url(../img/icons/material-sprites.png) no-repeat top left;
        display: block;
      }

      .other-icon-small {
        background-position: 0 0;
        width: 22px;
        height: 22px;
        overflow: hidden;
        text-indent: 22px;
      }
      .article-icon-small {
        background-position: -24px 0;
        width: 17px;
        height: 19px;
        overflow: hidden;
        text-indent: 17px;
      }
      .bog-store-bogstaver-icon-small {
        background-position: -43px 0;
        width: 25px;
        height: 22px;
        overflow: hidden;
        text-indent: 25px;
      }
      .book-icon-small {
        background-position: -70px 0;
        width: 16px;
        height: 22px;
        overflow: hidden;
        text-indent: 16px;
      }
      .movie-icon-small {
        background-position: -88px 0;
        width: 17px;
        height: 20px;
        overflow: hidden;
        text-indent: 17px;
      }
      .lyd-icon-small {
        background-position: -107px 0;
        width: 19px;
        height: 19px;
        overflow: hidden;
        text-indent: 19px;
      }
      .audiobook-icon-small {
        background-position: -128px 0;
        width: 25px;
        height: 22px;
        overflow: hidden;
        text-indent: 25px;
      }
      .music-icon-small {
        background-position: -155px 0;
        width: 19px;
        height: 15px;
        overflow: hidden;
        text-indent: 19px;
      }
      .online-icon-small {
        background-position: -176px 0;
        width: 19px;
        height: 21px;
        overflow: hidden;
        text-indent: 19px;
      }
      .sheetmusic-icon-small {
        background-position: -197px 0;
        width: 19px;
        height: 20px;
        overflow: hidden;
        text-indent: 19px;
      }
      .punktskrift-icon-small {
        background-position: -218px 0;
        width: 17px;
        height: 20px;
        overflow: hidden;
        text-indent: 17px;
      }
      .game-icon-small {
        background-position: -237px 0;
        width: 21px;
        height: 12px;
        overflow: hidden;
        text-indent: 21px;
      }
      .tidsskrifter-icon-small {
        background-position: -260px 0;
        width: 17px;
        height: 20px;
        overflow: hidden;
        text-indent: 17px;
      }
    }
  }
}

.panel {
  padding-left: 3px;
}
