// =============================================================================
// Search
// =============================================================================
/* Override drupal style for lists in search result*/
.search-results li {
  margin-bottom: inherit;
}

// =============================================================================
// Work
// =============================================================================

// Work header
.work-header {

  .actions {
    border: none;
    // Remove left border from actions in work header
  }
}

// Work body
.work-body {

  .field-tags {
    margin-bottom: 20px;
    color: $light_grey5;

    a {
      color: $btn_blue;
    }
  }

  .field-summary {
    color: $dark_grey4;
    margin-bottom: 10px;
  }

  &.work-body-has-cover .wrapper {
    width: 490px;
    float: left;
  }
}

// Work cover
.work-cover {
  width: 140px;
  float: right;
  margin: 0 0 10px 20px;
  padding: 0 0 0 15px;
  border-left: dotted 1px $borderColor;
  img {
    width: 100%;
  }
}

.work-cover-image {
  margin-bottom: 10px;
}

.work-cover-selector {

  a {
    float: left;
    display: block;
    width: 14px;
    height: 17px;
    margin-right: 5px;

    &.work-cover-front {
      background: url(../img/cover-front.png);
    }
    &.work-cover-back {
      background: url(../img/cover-back.png);
    }
  }
}

.search-results article.manifestation {
  min-width: 650px; /* needed for US732: Move secondary actions in search result to bottom right.*/
  .actions {
    max-width: 175px;
  }
}

// =============================================================================
// Library
// =============================================================================

.ting-agency-library {
  @extend .clearfix;

  hgroup {
    margin-bottom: 10px;
  }
  h3 {
    font-weight: normal;
  }
  h4 {
    font-weight: normal;
    color: $light_grey5;
  }

  ul {
    list-style-type: none;
  }

  &:nth-child(2n) {
    background-color: $light_grey1;
  }
  .actions {
    border: none;
  }

  &.favourite {

  }

  &.order-agency {

  }
}

.library-details-column-1,
.library-details-column-2 {
  float: left;
  width: 50%;
}

.library-details-column-1 .subheader,
.library-details-column-2 .subheader {
  margin-bottom: 0;
}

.select-default-library {
  margin-bottom: 5px;
}

.edit-personal-info {
  background: url(../img/icons/blue-edit.png) no-repeat 0%;
  @include inline-block();
  padding-left: 20px;
  margin-bottom: 3px;
  color: $light_grey5;
}

.delete-favourite {
  background: url(../img/icons/red-x.png) no-repeat 0%;
  @include inline-block();
  padding-left: 20px;
  color: $light_grey5;
}

// =============================================================================
// Frontpage Teaser blocks
// =============================================================================

.block {
  // margin-bottom:30px;

  .block-title h2 {
    padding-left: 46px;
    // icon width + 10px
    margin-bottom: 20px;

    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 2em;
    // 24px
    text-transform: uppercase;
    color: $btn_blue;
    line-height: 36px;
    // icon height
  }
}

#block-news .block-title h2 {
  background: url(../img/mediatype_icons/news.png) no-repeat;
}

#block-books .block-title h2 {
  background: url(../img/mediatype_icons/books.png) no-repeat;
}

#block-movies .block-title h2 {
  background: url(../img/mediatype_icons/movies.png) no-repeat;
}

#block-music .block-title h2 {
  background: url(../img/mediatype_icons/music.png) no-repeat;
}

#block-games .block-title h2 {
  background: url(../img/mediatype_icons/games.png) no-repeat;
}

//
// Settings box heights
//
.widget-height-1 {
  height: 100px;
}

.widget-height-2 {
  height: 210px;
}

.widget-height-3 {
  height: 320px;
}

//
// widget wrapper used when image is outside widget
//
.widget-wrapper {

  .field-image {
    float: left;
    position: relative;
  }
}

//
// Common widget styling
//
.widget {
  position: relative;
  margin-bottom: 10px;
  @include transition(background-color 0.3s);

  .inner {
    padding: 15px;
  }
  footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
  }
  &:hover footer a {
    text-decoration: underline;
  }
}

//
// Dark grey widget
//
.widget-dark-grey {
  background: $dark_grey3;
  color: $light_grey4;
  font-size: 0.91666em;
  // 11px

  &:hover {
    background: lighten($dark_grey3, 3%);
  }

  .field-title {
    margin-bottom: 3px;

    h3 {
      font-size: 1.1666em;
      // 14px
      font-weight: bold;
      line-height: 120%;

      a {
        color: $white;
      }
    }
  }

  .field-taxonomy,
  .field-artist {
    a {
      color: $light_grey4;
    }
  }
}

//
// Light grey widget
//
.widget-light-grey {
  background: $light_grey2;
  color: $dark_grey3;

  &:hover {
    background: lighten($light_grey2, 2%);
  }

  .field-title {
    margin-bottom: 10px;

    h3 {
      font-family: 'Dosis', sans-serif;
      font-size: 2em;
      // 24px
      font-weight: 300;
      line-height: 120%;

      a {
        color: $dark_grey2;
      }
    }
  }
}

//
// Custom Biblioteksvagt widget
//
.widget-biblioteksvagt {
  background: $btn_blue;
  color: $white;
  .field-title {
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
    h3 {
      font-size: 1.1666em;
      // 14px
      font-weight: bold;
      line-height: 100%;
      a {
        color: $white;
      }
    }
  }
  .inner {
    padding: 0px;
    .field-title {
      padding: 8px;
      background: none repeat scroll 0 0 #217F9B;
      opacity:0.7;
      filter:alpha(opacity=60); /* For IE8 and earlier */
    }
  }
  .field-body {
    position: relative;
    width: 80px;
    z-index: 3;
  }

  footer {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
  }

  .field-vagt-image {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
  }

  .field-link {
    z-index: 2;
    background: darken($btn_blue, 5%);
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

// =============================================================================
// Drupal messages
// =============================================================================

.messages {
  background-position: 10px 10px;
  // LTR
  background-repeat: no-repeat;
  border: 1px solid #333;
  margin-bottom: 10px;
  padding: 14px 14px 14px 50px;
  // LTR
}

.messages.notice {
  background-image: url(../img/messages/message-24-info.png);
  background-color: lighten(#437ed7, 20%);
}

.messages.status {
  background-image: url(../img/messages/message-24-ok.png);
  background-color: lighten($messagesGreen, 20%);
}

.messages.warning {
  background-image: url(../img/messages/message-24-warning.png);
  background-color: lighten($messagesYellow, 20%);
}

.messages.error {
  background-image: url(../img/messages/message-24-error.png);
  background-color: lighten($messagesRed, 20%);
}

.messages ul {
  margin: 0 0 0 1em;
  // LTR
  padding: 0;
  list-style: none
}

// =============================================================================
// Help menu
// =============================================================================

.pane-bibdk-help-bibdk-help-popup-menu,
.pane-bibdk-help {
  padding: 20px;
}

.pane-bibdk-help-bibdk-help-popup-menu .menu .menu {
  margin-bottom: 10px;
}

.pane-bibdk-help-bibdk-help-popup-menu li a {
  border: solid 1px $borderColor;
  background-repeat: no-repeat;
  background-position: 100%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 1px;
}

.pane-bibdk-help-bibdk-help-popup-menu li.expanded a {
}

.pane-bibdk-help-bibdk-help-popup-menu li li a {
  margin-left: 10px;
}

.pane-bibdk-help-bibdk-help-popup-menu li li li a {
}


/* Linkme, Infomedia */
.linkme-wrapper, .infomedia-wrapper {
  position: absolute;
  width: 30em;
  left: 25em;
  margin-top: 5px;
  min-height: 3.5em;
}
/* Popover (linkme, holding status, infomedia, etc) */
.popover {
  position: absolute;
  width: 30em;
  left: 25em;
  z-index: 10;
  background-color: white;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));

  ul {
    list-style: square;
    margin-left: 1em;
  }

  .form-item {
    width: 25em;
    float: left;
    padding: 10px;
  }
  .user-msg {
    min-height: 3.5em;
    line-height: 2em;
    margin: 10px;
    float: left;
  }
  .close {
    margin: 10px 10px 0 0;
    float: right;
  }
}

// =============================================================================
// Localisations popup
// =============================================================================

.count-localisations {
  margin: 0 0 1em 0;
  font-weight: bold;
}

p.note-localisations {
  margin: 0 0 0.5em 0;
}

.localisation-agency {
  border-top: 1px solid $light_grey5;
  padding-top: 1em;
  padding-bottom: 1em;
}

.localisation-agency p,
.localisation-agency .holding-status,
.localisation-agency .holding-status-load {
  margin: 0;
  clear: both;
}

.localisation-agency .holding-status-load.ajax-progress {
  display: block;
}

.localisation-agency p.city,
.localisation-agency p.postalCode {
  float: left;
  clear: none;
}

.localisation-agency p.postalCode {
  margin: 0 0.3em 0.2em 0;
}

.localisation-agency p.postalCode {
  margin: 0 0.3em 0.2em 0;
}

.lookup-url + span {
  margin: 0 0 0 1em;
}

/* LIGHTSIGNAL */
.holding-status {
  padding: 0;
  border: none;
  .status {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    border: solid 1px #dcdcdc;
    @include border-radius(3px);
  }
  .red {
    background-color: #ff0000;
  }
  .green {
    background-color: #008000;
  }
  .yellow {
    background-color: #ffff00;
  }
}

// =============================================================================
// My page
// =============================================================================

.page-user-edit-bibdk-mypage {
  #title {
    /* visibility: hidden; */
  }
  color: $dark_grey5;
  .element-wrapper {
    .element {
      border-style: none;
    }
    border-style: none;
    .element-wrapper {
      .element {
        border-style: solid solid none;
      }
      border: 10px solid #EBEBEB;
    }
  }
}

.bibdk-mypage-link {
  text-align: right;
}

.bibdk-mypage-wrapper {
  width: 310px;
  float: left;
  div.fieldset-wrapper {
    border-color: #DCDCDC #DCDCDC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    padding: 0;
    min-height: 218px;
    max-height: 218px;
    overflow: hidden;
  }
  h2 {
    padding: 0 16px;
    color: #3497be;
    height: 51px;
    line-height: 51px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: normal;
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
  }
  div {
    padding: 0 16px;
    clear: both;
    border-top: 1px solid #dddddd;
    line-height: 41px;
  }
  div.bibdk-mypage-row, .bibdk-mypage-row item-row {
    max-width: 310px;
    overflow: hidden;
  }
  p {
    margin: 0;
    max-height: 41px;
  }
  p.label-row {
    float: left;
    margin-right: 10px;
    max-width: 150px;
  }
  p.value-row, {
    color: $dark_grey3;
    float: right;
    max-width: 115px;
  }
}

.bibdk-mypage-wrapper:nth-child(even) {
  margin-left: 10px;
}

.bibdk-mypage-wrapper.form-wrapper {
  padding: 0;
}

#edit-bibdk-mypage {
  p.label-row {
    float: left;
    width: 145px;
    margin-right: 0px;
  }
  p.value-row, {
    float: left;
    width: 130px;
  }
}

// =============================================================================
// Favorites data popup
// =============================================================================

#bibdk-favourite-user-form-fields {
  width: 500px;
  input#edit-submit {
    width: 70px;
    margin-left: 360px;
    margin-top: 10px;
  }
  .form-wrapper {
    border-width: 0px;
  }
}

// =============================================================================
// Christmas special
// =============================================================================

.kravlenisse {
  background-image: url('../img/kravlenisse.png');
  z-index: 200;
  position: absolute;
  height: 100px;
  width: 84px;
  background-repeat: no-repeat;
  top: -21px;
  left: 300px;
}

// =============================================================================
// Cart View
// =============================================================================

.cart-actions {
  float: left;
  padding-right: 20px;

}
.page-email input {
  margin: 20px;
}

// =============================================================================
// Search History
// =============================================================================

.search-history-table {
  width: 100%;
}

.search-action-list {
  padding: 0px 20px;
  border: 0;
  a, input {
    margin-right: 20px;
  }
}

// =============================================================================
// Reviews
// =============================================================================


  .bibdk-review {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
  }

// =============================================================================
// User password reset
// =============================================================================

.user-pass-reset-message {
  float: left;
  padding-left: 20px;
  width: 568px;
}

.user-pass-reset-action {
  float: left;
  .form-wrapper.form-actions {
    padding: 1em 10px;
  }
  .form-wrapper {
    border-bottom-width: 0px;
  }
}

.openuserstatus {
  .form-item {
    padding:5px;
  }

  select {
    font-size:12px;
  }

  input[type="submit"] {
    margin: 10px 5px 0 0;
  }
}

// =============================================================================
// Overlay
// =============================================================================

body.page-ting-moreinfo {
  background: none repeat scroll 0 0 #ffffff;
  .element-wrapper {
    border: 0px solid #ffffff;
    margin-bottom: 0px;
  }
  .element {
    border-width: 0;
  }
  img {
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}

#lightboxFrame {
  border-width: 0;
}

// =============================================================================
// User settings
// =============================================================================

.bibdk-usersettings {
  padding-bottom: 20px;
  .form-item {
    padding: 5px 0;
  }
  input[type=submit] {
    display: block;
    float: right;
  }
}

// =============================================================================
// Manifestation actions
// =============================================================================
.manifestation .primary-actions {

  a {
    display: block;
  }
}
