// =============================================================================
// Search
// =============================================================================
/* Override drupal style for lists in search result*/
.search-results li {
  margin-bottom: inherit;
}



// =============================================================================
// Library
// =============================================================================

.bibdk-favourite-vejviser-link {
  @include rem('padding-top', 10px);
  @include rem('padding-bottom', 10px);
  text-align: right;

  a {
    @include rem('padding', 10px 15px);
    @include inline-block();
    @include border-radius($border-radius);
    color: $white;
    background-color: $grey-2;
  }

}

#bibdk-vejviser-header {
  float: right;
  margin-top: -60px;
  width: 100%;
  color: $grey-2;
  #bibdk-vejviser-count {
    color: $grey-3;
    white-space: nowrap;
    font-size: large;
    line-height: 1.5;
    float: left;
    padding: 0px 20%;
  }
  .vejviser-raw {
    float: right;
  }
}

.vejviser-raw {

  //.search-form-horizontal handles the floating
  &.toggled {
    padding: 0;
    background: transparent;
  }

  .form-type-textfield {
    width: 230px;
    margin-right: 5px;
  }
  .form-actions {
    width: 85px;
  }

  form {
    width: 320px;
  }
  input {
    line-height: 30px;
    height: 30px;
  }
  input[type=text] {
    padding: 0 5px;
    font-size: 12px;
  }
}


.ting-agency-library {
  @extend .clearfix;

  hgroup {
    margin-bottom: 10px;
  }
  h3 {
    font-weight: normal;
    font-size: 1.6em;
  }
  h4 {
    font-weight: normal;
    font-size: 1.4em;
    color: $grey-4;
  }

  .item-list ul li{
    margin: 0px 0px 0px 0px
  }

  ul {
    list-style-type: none;
  }

  &:nth-child(2n) {
    background-color: $grey-7;
  }
  .actions {
    border: none;
  }

  &.favourite {

  }

  &.order-agency {

  }
}

//======== INFOMEDIA AGENCY LIST ===========//
h3.library-list-header{
  margin-bottom:10px;
}

.ting-infomedia-agency-list{
  background-color:$grey-7;
  .element-section{
    padding:2px 5px 2px 10px;
  }
  hgroup {
    margin-bottom: 0px;
  }
  h3 {
    font-weight: normal;
    font-size:1.2em;
  }
  h4 {
    font-weight: normal;
    color: $grey-4;
  }

  &:nth-child(2n) {
    background-color: $grey-7;
  }
}
//========== END INFOMEDIA AGENCY LIST =======//

.library-details-column-1,
.library-details-column-2 {
  float: left;
  width: 50%;
  .item-list ul li {
    background-image: none;
    background: none;
  }
}

.library-details-column-1 .subheader,
.library-details-column-2 .subheader {
  margin-bottom: 0;
}

.select-default-library {
  margin-bottom: 5px;
}

.edit-personal-info {
  background: url(../img/icons/blue-edit.png) no-repeat 0%;
  @include inline-block();
  padding-left: 20px;
  margin-bottom: 3px;
  color: $grey-4;
}

.delete-favourite {
  background: url(../img/icons/red-x.png) no-repeat 0%;
  @include inline-block();
  padding-left: 20px;
  color: $grey-4;
}








// =============================================================================
// Frontpage Teaser blocks
// =============================================================================

.block {

  .block-title h2 {
    padding-left: 46px; // icon width + 10px
    margin-bottom: 20px;

    font-family: $font-secondary;
    font-weight: 300;
    font-size: 2em; // 24px

    text-transform: uppercase;
    color: $blue;
    line-height: 36px; // icon height
  }
}

#block-news .block-title h2 {
  background: url(../img/mediatype_icons/news.png) no-repeat;
}

#block-books .block-title h2 {
  background: url(../img/mediatype_icons/books.png) no-repeat;
}

#block-movies .block-title h2 {
  background: url(../img/mediatype_icons/movies.png) no-repeat;
}

#block-music .block-title h2 {
  background: url(../img/mediatype_icons/music.png) no-repeat;
}

#block-games .block-title h2 {
  background: url(../img/mediatype_icons/games.png) no-repeat;
}

//
// Settings box heights
//
.widget-height-1 .inner {
  height: 100px;
}

.widget-height-2 .inner {
  height: 195px;
}

.widget-height-3 .inner {
  height: 320px;
}

.widget-height-4 .inner {
  height: 430px;
}

article.article-widget{
  .field-label{
    display:none;
  }
}

article.widget-biblioteksvagt{
  float:right;
}

.bibdk_article_ajax_replace {
position:relative;
left:-10px;
}


//
// Common widget styling
//
.widget, .article-widget{
  margin-bottom: 10px;
  @include transition(background-color 0.3s);

  .inner {
    padding: 15px;
    box-sizing: border-box;
  }
  footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
  }
  a {
    font-weight:bold;
  }
  &:hover a {
    text-decoration: underline;
  }
}

//
// Dark grey widget
//
.widget-dark-grey .inner {
  background: $grey-2;
  color: $white;
  font-size: 0.91666em;
  // 11px

  &:hover {
    background: lighten($grey-2, 3%);
  }

  .field-title {
    margin-bottom: 3px;

    h3 {
      font-size: 1.1666em;
      // 14px
      font-weight: bold;
      line-height: 120%;

      a {
        color: $white;
      }
    }
  }

  .field-taxonomy,
  .field-artist {
    a {
      color: $grey-4;
    }
  }
}

//
// Light grey widget
//
.widget-light-grey .inner{
  background: $grey-6;
  color: $black;

  &:hover {
    background: lighten($grey-6, 2%);
  }

  .field-title {
    margin-bottom: 10px;

    h3 {
      font-family: $font-secondary;
      font-size: 2em; // 24px
      font-weight: 300;
      line-height: 1.2;

      a {
        color: $grey-1;
      }
    }
  }
}

//
// Custom Biblioteksvagt widget
//
.widget-biblioteksvagt .inner {
  background: $blue;
  background-repeat:no-repeat;
  background-position: center center;
  color: $white;
  .inner {
    padding: 0px;
  }
  .field-title {
    margin: 0 5px;
    padding: 0px 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: $blue;
    h3 {
      font-size: 1.1666em; // 14px
      font-weight: bold;
      line-height: 2;
      a {
        color: $white;
      }
    }
  }
  .field-body {
    display: none;
  }
  .field-vagt-image {
    position: absolute;
    text-align: center;
    top: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    display: none;
  }
  footer {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
  }
  .field-link {
    z-index: 2;
    background: $blue;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 5px;
  }
}



// =============================================================================
// Help menu
// =============================================================================

.pane-bibdk-help-bibdk-help-popup-menu,
.pane-bibdk-help-bibdk-help-popup-menu-eng,
.pane-bibdk-help {
  padding: 20px;
  .menu .menu {
    margin-bottom: 10px;
  }
  li a {
    border: solid 1px $grey-5;
    background-repeat: no-repeat;
    background-position: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 1px;
  }
  li li a {
    margin-left: 10px;
  }
}



// =============================================================================
// Linkme, Infomedia
// =============================================================================

.linkme-wrapper, .infomedia-wrapper {
  position: absolute;
  width: 30em;
  left: 25em;
  margin-top: 5px;
  min-height: 3.5em;
}

// =============================================================================
// Popover (linkme, holding status, infomedia, etc)
// =============================================================================

.popover {
  position: absolute;
  width: 300px;
  left: 25em;
  z-index: 10;
  background-color: $white;
  @include box-shadow(0 3px 10px rgba(136, 136, 136, 0.75));

  ul {
    list-style: square;
    margin-left: 1em;
  }

  .form-item {
    width: 25em;
    float: left;
    padding: 10px;
  }
  .user-msg {
    min-height: 3.5em;
    width:  250px;
    line-height: 2em;
    margin: 10px;
    float: left;
  }
  .close {
    height: 16px;
    width: 16px;
    margin: 6px;
    float: right;
  }
}

div#search-advanced-panel .popover.element-wrapper {
  background-color: $white;
}


// =============================================================================
// Localisations popup
// =============================================================================

.count-localisations {
  margin: 0 0 1em 0;
  font-weight: bold;
}

p.note-localisations {
  margin: 0 0 0.5em 0;
}

.localisation-agency {
  border-top: 1px solid $grey-4;
  padding-top: 1em;
  padding-bottom: 1em;
}

.localisation-agency p,
.localisation-agency .holding-status,
.localisation-agency .holding-status-load {
  margin: 0;
  clear: both;
}

.localisation-agency .holding-status-load.ajax-progress {
  display: block;
}

.localisation-agency p.city,
.localisation-agency p.postalCode {
  float: left;
  clear: none;
}

.localisation-agency p.postalCode {
  margin: 0 0.3em 0.2em 0;
}

.localisation-agency p.postalCode {
  margin: 0 0.3em 0.2em 0;
}

.lookup-url + span {
  margin: 0 0 0 1em;
}

/* LIGHTSIGNAL */
.holding-status {
  padding: 0;
  border: none;
  .status {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    border: solid 1px #dcdcdc;
    @include border-radius(3px);
  }
  .red {
    background-color: #ff0000;
  }
  .green {
    background-color: #008000;
  }
  .yellow {
    background-color: #ffff00;
  }
}

// =============================================================================
// My page
// =============================================================================

.page-user-edit-bibdk-mypage {

  color: $grey-3;
  .element-wrapper {
    .element {
      border-style: none;
    }
    border-style: none;
    .element-wrapper {
      .element {
        border-style: solid solid none;
      }
      border: 10px solid #EBEBEB;
    }
  }
}

.bibdk-mypage-link {
  text-align: right;
  a {
    margin: 0 10px;
  }
}

.bibdk-mypage-wrapper {
  width: 46%;
  float: left;
  div.fieldset-wrapper {
    border-color: #DCDCDC #DCDCDC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    padding: 0;
    min-height: 218px;
    max-height: 218px;
    overflow: hidden;
  }
  h2 {
    padding: 0 16px;
    height: 51px;
    line-height: 51px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: normal;
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: $font-secondary;
  }
  div {
    padding: 0 16px;
    clear: both;
    border-top: 1px solid #dddddd;
    line-height: 41px;
  }
  div.bibdk-mypage-row, .bibdk-mypage-row item-row {
    max-width: 310px;
    overflow: hidden;
  }
  p {
    margin: 0;
    max-height: 41px;
  }
  p.label-row {
    float: left;
    margin-right: 10px;
    max-width: 300px;
  }
  p.value-row, {
    color: $grey-2;
    float: right;
    max-width: 115px;
  }
}

.bibdk-mypage-wrapper:nth-child(even) {
  margin-left: 10px;
}

.bibdk-mypage-wrapper.form-wrapper {
  padding: 0;
}

#edit-bibdk-mypage {
  p.label-row {
    float: left;
    width: 145px;
    margin-right: 0px;
  }
  p.value-row, {
    float: left;
    width: 130px;
  }
}

// =============================================================================
// Favorites data popup
// =============================================================================

#bibdk-favourite-user-form-fields {
  width: 500px;
  input#edit-submit {
    width: 70px;
    margin-left: 60px;
    margin-top: 10px;
  }
  input#button-close-popup {
    margin-left: 30px;
    margin-top: 10px;
  }
  .form-wrapper {
    border-width: 0px;
  }
  fieldset#edit-buttons .fieldset-wrapper {
    text-align: right;
  }
  .form-wrapper .form-submit {
    margin-bottom: 20px;
    margin-right: 70px;
    margin-top: 10px;
  }
  .close-link-wrapper {
    margin-right: 30px;
    margin-bottom: 20px;
    a {
      color: $white;
    }
  }
}

// =============================================================================
// Christmas special
// =============================================================================

.kravlenisse {
  background-image: url('../img/kravlenisse.png');
  z-index: 200;
  position: absolute;
  height: 100px;
  width: 84px;
  background-repeat: no-repeat;
  top: -21px;
  left: 300px;
}

// =============================================================================
// Cart View
// =============================================================================

.cart-actions {
  float: left;
  padding-right: 20px;

}

.page-email input {
  margin: 20px;
}

.item-list .cart-actions ul li {
  margin: 0 0 0 0;
  padding: 0;
}

// =============================================================================
// Search History
// =============================================================================

.search-history-table {
  width: 100%;
  input {
    border: none;
  }
}

.search-action-list {
  padding: 0px 20px;
  border: 0;
  a, input {
    margin-right: 20px;
  }
}

// =============================================================================
// Reviews
// =============================================================================

.bibdk-review {
  padding: 10px 0;
  border-bottom: 1px solid #dcdcdc;
}

// =============================================================================
// User password reset
// =============================================================================

.user-pass-reset-message {
  float: left;
  padding-left: 20px;
  width: 568px;
}

.user-pass-reset-action {
  float: left;
  .form-wrapper.form-actions {
    padding: 1em 10px;
  }
  .form-wrapper {
    border-bottom-width: 0px;
  }
}

// =============================================================================
// Open User Status
// =============================================================================

.openuserstatus {
  .form-item {
    padding: 5px;
  }

  div.form-item.form-type-select {
    display: inline;
    padding: 0;
  }

  div.form-item:after {
    display: none;
  }

  select {
    font-size: 12px;
  }

  input[type="submit"] {
    margin: 10px 5px 0 0;
  }
  .form-item-select {
    float: left;
  }
  .helptext {
    top: 0;
    margin: 0;
    position: inherit;
  }

}

// =============================================================================
// Overlay
// =============================================================================

body.page-ting-moreinfo {
  background: none repeat scroll 0 0 #ffffff;
  .element-wrapper {
    border: 0px solid #ffffff;
    margin-bottom: 0px;
  }
  .element {
    border-width: 0;
  }
  img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

#lightboxFrame {
  border-width: 0;
}

// =============================================================================
// User settings
// =============================================================================

.bibdk-usersettings {
  padding-bottom: 20px;
  .form-item {
    padding: 5px 0;
  }
  input[type=submit] {
    display: block;
    float: right;
  }
}

// =============================================================================
// Manifestation actions
// =============================================================================
.manifestation .primary-actions {

  a {
    display: block;
  }
}

// =============================================================================
// Load more results
// =============================================================================
.pane-ting-openformat-load-more {
  text-align: center;
  padding: 8px;
  background-color:$grey-6;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #DDDDDD #DDDDDD #C5C5C5;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  #link {
    font-size: 14px;
  }
}

.load_more_res_splitter {
  background-color: $grey-4;
  height: 2px;
  width: 100%;
  margin-bottom: 10px;
}

// =============================================================================
// sbkopi
// =============================================================================
.sbkopi-description-container {
  width: 50%;
  background-color: $grey-7;
}

.sbkopi-description-container.form-wrapper {
  padding: 0 1em 0;
}



// =============================================================================
// vejviser
// =============================================================================

.bibdk-vejviser-help-text{
  clear: both;
  padding-left: 20px;
}

//
// alerts
//

.alert {
  background: url(../img/icons/alert-sprites.png) no-repeat top left;
  padding: 3px 12px;
  width: 12px;
  height: 22px;
}

.blue-alert {
  background-position: 0 0;
}

.green-alert {
  background-position: -18px 0;
}

.yellow-alert {
  background-position: -36px 0;
}

.red-alert{
  background-position: -54px 0;
}

.no-alert {
  background-image: none;
}

// =============================================================================
// Bibdk reviews
// =============================================================================
.bibdk-article-review{

  border-top: 1px solid #dcdcdc;
  padding: 10px 0;

  .openformat-info{
    float: left;
    clear: left;
    width: 280px;
  }
}

span.star{
  display: inline-block;
  background: url('../img/rating-stars.png');
  width: 17px;
  height: 17px;
}

span.star.positive{
  color: transparent;
  background-position: 0 17px;

}

span.star.negative{
  color: transparent;
  background-position: 0 0;
}

// =============================================================================
// WAYF NemId login page
// =============================================================================
.ding-wayf-logon-block {
  margin-top: 20px;

  .ding-wayf-logoninfo {
   vertical-align: sub;
  }
}

#user-login .form-actions {
   margin-top: -0.5em;
}
