// =============================================================================
// Work
// =============================================================================

// Work header
.work-header {

  .actions {
    border:none; // Remove left border from actions in work header
  }
}

// Work body
.work-body {

  .field-tags {
    margin-bottom:20px;
    color:$light_grey5;

    a {
      color:$btn_blue;
    }
  }

  .field-summary {
    color:$dark_grey4;
    margin-bottom:10px;
  }

  &.work-body-has-cover .wrapper {
    width:490px;
    float:left;
  }
}

// Work cover
.work-cover {
  width: 140px;
  float:right;
  margin:0 0 10px 20px;
  padding:0 0 0 15px;
  border-left:dotted 1px $borderColor;
  img {
    width:100%;
  }
}
.work-cover-image {
  margin-bottom:10px;
}
.work-cover-selector {

  a {
    float:left;
    display:block;
    width:14px;
    height:17px;
    margin-right:5px;

    &.work-cover-front {
      background:url(../img/cover-front.png);
    }
    &.work-cover-back {
      background:url(../img/cover-back.png);
    }
  }
}




// =============================================================================
// Library
// =============================================================================

.ting-agency-library {
  @extend .clearfix;

  hgroup {
    margin-bottom:10px;
  }
  h3 {
    font-weight:normal;
  }
  h4 {
    font-weight:normal;
    color:$light_grey5;
  }

ul{
list-style-type:none;
}

  &:nth-child(2n) {
    background-color:$light_grey1;
  }
  .actions {
    border:none;
  }

  &.favourite {

  }

  &.order-agency {

  }
}

.library-details-column-1,
.library-details-column-2 {
  float:left;
  width:50%;
}
.library-details-column-1 .subheader,
.library-details-column-2 .subheader {
  margin-bottom: 0;
}
.select-default-library {
  margin-bottom:5px;
}


.edit-personal-info {
  background:url(../img/icons/blue-edit.png) no-repeat 0%;
  @include inline-block();
  padding-left:20px;
  margin-bottom:3px;
  color:#999;
}

.delete-favourite {
  background:url(../img/icons/red-x.png) no-repeat 0%;
  @include inline-block();
  padding-left:20px;
  color:#999;
}



// =============================================================================
// Frontpage Teaser blocks
// =============================================================================

.block {
  // margin-bottom:30px;

  .block-title h2 {
    padding-left:46px; // icon width + 10px
    margin-bottom:20px;

    font-family: 'Dosis', sans-serif;
    font-weight:300;
    font-size:2em; // 24px
    text-transform:uppercase;
    color:$btn_blue;
    line-height:36px; // icon height
  }
}

#block-news .block-title h2 {
  background:url(../img/mediatype_icons/news.png) no-repeat;
}
#block-books .block-title h2 {
  background:url(../img/mediatype_icons/books.png) no-repeat;
}
#block-movies .block-title h2 {
  background:url(../img/mediatype_icons/movies.png) no-repeat;
}
#block-music .block-title h2 {
  background:url(../img/mediatype_icons/music.png) no-repeat;
}
#block-games .block-title h2 {
  background:url(../img/mediatype_icons/games.png) no-repeat;
}

//
// Settings box heights
//
.widget-height-1 {
  height:100px;
}
.widget-height-2 {
  height:210px;
}
.widget-height-3 {
  height:320px;
}

//
// widget wrapper used when image is outside widget
//
.widget-wrapper {

  .field-image {
    float:left;
    position:relative;
  }
}

//
// Common widget styling
//
.widget {
  position: relative;
  margin-bottom:10px;
  @include transition(background-color 0.3s);

  .inner {
    padding:15px;
  }
  footer {
    position:absolute;
    bottom:15px;
    right:15px;
    left:15px;
  }
  &:hover footer a {
    text-decoration:underline;
  }
}

//
// Dark grey widget
//
.widget-dark-grey {
  background:$dark_grey3;
  color: $light_grey4;
  font-size: 0.91666em; // 11px

  &:hover {
    background:lighten($dark_grey3, 3%);
  }

  .field-title {
    margin-bottom: 3px;

    h3 {
      font-size: 1.1666em; // 14px
      font-weight:bold;
      line-height: 120%;

      a {
        color:$white;
      }
    }
  }

  .field-taxonomy,
  .field-artist {
    a {
      color: $light_grey4;
    }
  }
}

//
// Light grey widget
//
.widget-light-grey {
  background:$light_grey2;
  color:$dark_grey3;

  &:hover {
    background:lighten($light_grey2, 2%);
  }

  .field-title {
    margin-bottom:10px;

    h3 {
      font-family: 'Dosis', sans-serif;
      font-size:2em; // 24px
      font-weight:300;
      line-height:120%;

      a {
        color:$dark_grey2;
      }
    }
  }
}


//
// Custom Biblioteksvagt widget
//
.widget-biblioteksvagt {
  background: $btn_blue;
  color:$white;

  footer {
    bottom:0px;
    left:0px;
    right:0px;
    z-index:2;
  }

  .field-title {
    margin-bottom:10px;

    h3 {
      font-size: 1.1666em; // 14px
      font-weight:bold;
      line-height: 120%;

      a {
        color:$white;
      }
    }
  }
  .field-body {
    position:relative;
    width: 80px;
    z-index:3;
  }
  .field-vagt-image {
    text-align:right;
  }
  .field-link {
    background:darken($btn_blue, 5%);
    padding:15px;
  }
}





// =============================================================================
// Drupal messages
// =============================================================================

  .messages {
    background-position: 10px 10px; // LTR
    background-repeat: no-repeat;
    border: 1px solid #333;
    margin-bottom: 10px;
    padding: 14px 14px 14px 50px; // LTR
  }
  .messages.notice {
    background-image: url(../img/messages/message-24-info.png);
    background-color: lighten(#437ed7, 20%);
  }
  .messages.status {
    background-image: url(../img/messages/message-24-ok.png);
    background-color: lighten($messagesGreen, 20%);
  }
  .messages.warning {
    background-image: url(../img/messages/message-24-warning.png);
    background-color: lighten($messagesYellow, 20%);
  }
  .messages.error {
    background-image: url(../img/messages/message-24-error.png);
    background-color: lighten($messagesRed, 20%);
  }
  .messages ul {
    margin: 0 0 0 1em; // LTR
    padding: 0;
    list-style:none
  }




// =============================================================================
// Help menu
// =============================================================================

.pane-bibdk-help-bibdk-help-popup-menu,
.pane-bibdk-help {
  padding:20px;
}

.pane-bibdk-help-bibdk-help-popup-menu .menu .menu {
  margin-bottom:10px;
}
.pane-bibdk-help-bibdk-help-popup-menu li a {
  border:solid 1px $borderColor;
  background-repeat:no-repeat;
  background-position:100%;
  display:block;
  padding:10px 20px;
  margin-bottom:1px;
}


.pane-bibdk-help-bibdk-help-popup-menu li.expanded a {
}
.pane-bibdk-help-bibdk-help-popup-menu li li a {
  margin-left:10px;
}
.pane-bibdk-help-bibdk-help-popup-menu li li li a {
}



// =============================================================================
// Bib.dk search pages
// =============================================================================

#edit-advanced {
  background-color: $light_grey1;
}

#search-advanced {
  background-color: #ffffff;
}

div#search-advanced-toggle {
  background-color: $dark_grey3;
  display: block;
  padding-bottom: 10px;
}

.container-inline div.bibdk-subgroup {
  display: block;
}

div#search-advanced-panel {
  background-color: $light_grey1;
  margin: 2% 0 0 2%;
  display: block;
  input {
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
  }
  input.form-checkbox {
    height: 20px;
    line-height: 20px;
    margin-top: 2px;
  }
  select {
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px 3px 3px 3px;
    padding: 4px;
  }
  option {
    height: 20px;
    line-height: 20px;
    padding: 4px 6px;
    border-radius: 3px 3px 3px 3px;
  }
  fieldset#edit-expand {
    margin-top: 0em;
    width: 98%;
    display: block;
    > legend {
      background-color: inherit;
      border: none;
      display: block;
      width: auto;
      a {
        padding-left: 20px;
        background-image: url("../img/icons/blue-plus.png");
        background-repeat: no-repeat;
        background-position: left center;
      }
      a.toggled {
        background-image: url("../img/icons/blue-minus.png");
      }
    }
  }
  /* first row of columns in "expanded search" */
  fieldset:first-child {
    margin-left: 0%;
  }
  fieldset:last-child {
    margin-left: 0%;
  }
  fieldset {
    width: 32%;
    margin-left: 1%;
    display: inline;
    border: 0px solid red;
    vertical-align: top;
    legend {
      display: block;
      float: left;
      border: 0px solid green;
      .fieldset-legend {
          font-size: 16px;
          padding: 0;
      }
    }
    div.fieldset-wrapper {
      clear: both;
      text-align: right;
      .form-type-textfield {
          margin-bottom: 0;
          margin-right: 1%;
          width: 100%;
      }
      .fieldset-description {
          white-space: nowrap;
          display: inline-block;
          float: inherit;
      }
      p.helptext {
        background-color:$btn_blue;
        @include border-radius(3px);
        width: auto;
        border: none;
        display: inline-block;
        float: inherit;
        margin: 0 5px;
        padding: 0 5px;
        font-size: 12px;
        color:$white;
        cursor: pointer;
      }
    }
    div.bibdk-custom-search-element {
      display: block;
      clear: both;
      margin: 2px 0 0 0;
      padding: 0 5px 0 0;
      div.form-item {
        margin: 0;
        padding: 0;
        display: block;
        .toggle-subgroup {
          @include inline-block(top);
          width:15px;
          background-position:50% 50%;
          background-repeat:no-repeat;
          color: transparent;
          background-image:url(../img/icons/blue-plus.png);
          border: none;
          display: block;
          float: left;
          position: relative;
          top: 2px;
        }
        .toggle-subgroup.toggled {
          background-image:url(../img/icons/blue-minus.png);
        }
      }
      div.form-type-checkbox {
        float: none;
        label {
          display: block;
          float: left;
        }
        input {
          display: block;
          float: left;
        }
      }
    }
  }
}

div#search-advanced-panel > fieldset > div.fieldset-wrapper {
  position: relative;
  top: -18px;
  .form-type-textfield {
    margin-bottom: 0;
    margin-right: 1%;
    width: 100%;
  }
}

.container-inline div#search-advanced-panel {
  display: block;
}

/* columns in "advanced search" */
div#search-advanced-panel > fieldset#edit-expand > div.fieldset-wrapper {
  position: static;
  top: 0;
  text-align: left;
  fieldset:first-child {
    margin-left: 0%;
  }
  fieldset {
    width: 24%;
    margin-left: 1%;
    display: inline;
    legend {
      display: block;
      float: left;
      border: 0px solid blue;
      .fieldset-legend {
          font-size: 16px;
          padding: 0;
      }
    }
    div.fieldset-wrapper {
      clear: both;
      text-align: right;
      position: relative;
      top: -20px;
      .form-type-textfield {
          margin-bottom: 0;
          margin-right: 1%;
          width: 100%;
      }
      .fieldset-description {
        display: none;
      }
    }
  }
  .form-type-textfield {
    margin-bottom: 0;
    margin-right: 1%;
    width: 98%;
  }
}

/* year */
div#search-advanced-panel .bibdk-custom-search-element .form-item-termdd18e670-8c1b-b154-4da8-3101c6a5101d {
  float: left;
}

/* sprog */

div#search-advanced-panel > fieldset#edit-expand > div.fieldset-wrapper {
  fieldset#edit-bibdk-custom-search-element-e74cadf0-cd77-93b4-dd64-8cd38abb1083 {
    width: 48%;
  }
}
div#search-advanced-panel .bibdk-custom-search-element #edit-term1035e851-4790-a5b4-dd1b-f5da9050d165 {
  div {
    width: 25%;
    float: left;
  }
}

/* bøger:sprog */
div#search-advanced-panel .bibdk-custom-search-element #edit-termf7e91291-4268-f8a4-d13b-e04f370efe06 {
  div {
    width: 50%;
    float: left;
  }
}
/* bøger:målgruppe */
div#search-advanced-panel > fieldset#edit-expand > div.fieldset-wrapper {
  fieldset#edit-bibdk-custom-search-element-161f5183-b254-7f44-a5df-10257190c9b2 {
  }
}
/* bøger:år */
.page-bibdk-frontpage-bog div#search-advanced-panel > fieldset#edit-expand > div.fieldset-wrapper {
  fieldset#edit-bibdk-custom-search-element-6c70823e-0c81-c3d4-f9b8-716937b6c813 {
    margin-left: 0;
    position: relative;
    top: -90px;
  }
}


/* artikler:sprog */
div#search-advanced-panel .bibdk-custom-search-element #edit-termb7f1815e-8686-5794-1526-2465935c4e49 {
  div {
    width: 50%;
    float: left;
  }
}
div#search-advanced-panel {
  fieldset#edit-bibdk-custom-search-element-c701f1b9-3464-37c4-e538-0302ca2a387e,
  fieldset#edit-bibdk-custom-search-element-7f9b063a-03d0-d9a4-1111-abc05eb3e744,
  fieldset#edit-bibdk-custom-search-element-5ea753c8-576f-e764-b1ce-9468e41e232b,
  fieldset#edit-bibdk-custom-search-element-16211341-fade-5054-e9b8-534632e77fc6 {
    width: 23.5%;
  }
}

/* spil:genre */
div#search-advanced-panel .bibdk-custom-search-element #edit-term5c19953e-db52-93c4-9dcc-c0c23eb805e9 {
  div {
    width: 50%;
    float: left;
  }
}


/* film:genre */
div#search-advanced-panel .bibdk-custom-search-element #edit-term4f816bdc-6230-4844-41e7-6498c09e267d {
  div {
    width: 50%;
    float: left;
  }
}
/* film:nationalitet */
div#search-advanced-panel fieldset#edit-bibdk-custom-search-element-7edd8a17-86e1-e314-01ab-50e0cc8f2105 {
    width: 98%;
}
div#search-advanced-panel .bibdk-custom-search-element #edit-termc81bc63b-60d4-a614-e951-1e4151a5f7dd {
  div {
    width: 33%;
    float: left;
  }
}
/* Film: Materialetype */
div#search-advanced-panel > fieldset#edit-expand > div.fieldset-wrapper {
  fieldset#edit-bibdk-custom-search-element-8d3b9c95-d4dc-8134-3565-ee212b143534 {
    width: 49%;
  }
}
div#search-advanced-panel .bibdk-custom-search-element #edit-term5ae0e50c-3fbd-ad64-6da2-0b0961e4489b {
  div {
    width: 33%;
    float: left;
  }
}
/* Film: Aldersanbefaling */
div#search-advanced-panel .bibdk-custom-search-element #edit-term0195f7a7-e884-2154-4db8-12c17a96e30e {
  width: 100%;
}
/* Film: Tilladt for */
div#search-advanced-panel .bibdk-custom-search-element #edit-term76d3e53c-8f50-6c04-2569-f4eb18180b56 {
  width: 100%;
}


/* På Nettet:Materialetype */
div#search-advanced-panel > fieldset#edit-expand > div.fieldset-wrapper {
  fieldset#edit-bibdk-custom-search-element-76e8d8bc-900b-e0d4-c972-c6d3340e41b3 {
    width: 48%;
  }
}
div#search-advanced-panel .bibdk-custom-search-element #edit-term8b9faa48-6f6d-5954-cd84-024980686c47 {
  div {
    width: 50%;
    float: left;
  }
}


/* spil:platform */
div#search-advanced-panel .bibdk-custom-search-element #edit-term37553c44-91b9-9574-a174-908c558b3441 {
  width: 100%;
}

/* spil:Medierådets aldersanbefalinger */
div#search-advanced-panel .bibdk-custom-search-element #edit-term802e059d-b454-53a4-11a5-aa541e8708f6 {
  width: 100%;
}
div#search-advanced-panel > fieldset#edit-expand > div.fieldset-wrapper {
  fieldset#edit-bibdk-custom-search-element-960e56f7-9ab5-ea94-cd0b-31116bcdeadc,
  fieldset#edit-bibdk-custom-search-element-8ef145dd-bd72-6094-6d1a-b2c4397b5778 {
    width: 49%;
  }
}

/* spil:Aldersanbefaling */
div#search-advanced-panel .bibdk-custom-search-element #edit-term5b12d524-01af-6de4-d569-2d53ce6c0f2e {
  width: 100%;
}

/* Musik */
div#search-advanced-panel {
  fieldset#edit-bibdk-custom-search-element-577a6e95-a4c4-1364-9d35-b520727a66e3 {
    margin-left: 0;
  }
}

/* Expanded by default */
.page-bibdk-frontpage-net div#search-advanced-panel,
.page-bibdk-frontpage-spil div#search-advanced-panel {
  fieldset#edit-expand {
    > legend {
      a {
        background-image: url("../img/icons/blue-minus.png");
      }
      a.toggled {
        background-image: url("../img/icons/blue-plus.png");
      }
    }
  }
}

// =============================================================================
// Christmas special
// =============================================================================

.kravlenisse {
  background-image: url('../img/kravlenisse.png');
  z-index: 200;
  position: absolute;
  height: 100px;
  width: 84px;
  background-repeat: no-repeat;
  top: -21px;
  left: 300px;
}

