// =============================================================================
// Temaindgange
// =============================================================================

#temaindgange-wrapper {
  background-color:#f2f4f3;
  padding-top:40px;
  padding-bottom:40px;
}


.temaindgange {
  position:relative;

  // Magic box-sizing!
  * {
    @include box-sizing(border-box);
  }


  // Primary list items
  > li {
    display:block;
    float:left;
    width:25%;
    padding-right:20px;

    > a {
      display:block;
      color:#25292c;
      position:relative;
      margin-bottom:20px;

      strong {
        display:block;
        margin-bottom:5px;
        font-size:14px;
      }

    }
  }



  // Primary list items (active)
  > li.js-active-element {

    > a:after {
      position:absolute;
      z-index:100;
      bottom:-20px;
      left:50%;
      margin-left:-8px;
      @include css-triangle(8px, #d2eaf1, bottom);

    }

  }



  // First sub item-list
  > li > .item-list {
    display:none;
    padding:15px;
    border:solid 5px #d2eaf1;
    background-color:#fff;
    position:absolute;
    left:0;
    right:0;
    margin-bottom:30px;
    // overflow:hidden;
  }

  // First sub item-list (active)
  > li.js-active-element > .item-list {
    display:block;
  }



  > li > .item-list > ul {
    display:none;
  }







  > li .sublist-lists > ul {
    display:none;
    position:relative;
  }

  > li .sublist-lists > ul.js-active-sublist {
    // left:0;
    // background-color:#aaa;
  }












  > li .sublist-lists > ul ul {
    display:none;
  }






  // Sublists list items
  ul > li {
    @include inline-block(top);
    width:25%;
    margin-right:-4px;
    padding-right:20px;
    margin-bottom:5px;
  }


  // Close button
  .sublist-close-button {
    @extend .icon;
    @extend .icon-blue-x;
    position:absolute;
    top:8px;
    right:10px;
  }

  // Breadcrumb
  .sublist-breadcrumb {
    margin-bottom:20px;

    a {
      font-size:14px;
      // padding-right:20px;

      &:after {
        content: " \203A  ";
      }

      &:last-child {
        font-weight:bold;

        &:after {
          content: "";
        }
      }

    }

  }









}



// =============================================================================
// Mediaquery 30em / 480px
// =============================================================================
// @media only screen and (max-width: 30em) {



//   .test {

//     // Primary list items
//     > li {
//       width:50%;
//     }

//   }

// }


// // =============================================================================
// // Mediaquery 48em / 768px
// // =============================================================================
// @media only screen and (min-width: 48em) {



//   .test {

//     // Primary list items
//     > li {
//       width:25%;
//     }

//   }

// }







// Redundant styling
.icon {
  @include inline-block(top);
  width:15px;
  background: no-repeat 50% 50%;
  color: transparent;
}

.icon-blue-x {
  background-image:url(../img/blue-x.png);
}











